section.absorption-inner-wrap{
	.absorption-container{
		.absorption-head{
			h1{
				font-family: $BreeRegular;
				text-align: center;
				line-height: 38px;
				color: $default;
				.question-mark{
					color: $danger;
					font-size: 100px;
					position: relative;
					left: 72px;
				}
			}
		}
		.absorption-first-para{
			p{
				text-align: center;
			}
		}
		.absorption-sec-para{
			p{
				text-align: center;
			}
		}
		.absorption-small-head{
			h4{
				color: $default;
				font-family: $BreeRegular;
				text-align: center;
				font-size: 30px;
			}
		}
	}
}
.iron-absorption-tab{
	.iron-absorption{
		h4{

		}
	}
	.iron-absorption-inner{
		h5{
			text-align: left;
		}
	}
	.iron-absorption-wrapper{
		display: flex;
		flex-wrap: wrap;
		.iron-absorption-50{
			width: 50%;
		}
	}
}
