section.why-choose{
	.choose-wrap{
		/*background-image: radial-gradient(38% 45%, #91E2D2 62%, #48B9A2 100%);*/
		overflow: hidden;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#91e2d2+0,48b9a2+100 */
		background: #91e2d2; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover, #91e2d2 0%, #48b9a2 100%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover, #91e2d2 0%,#48b9a2 100%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center, #91e2d2 0%,#48b9a2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91e2d2', endColorstr='#48b9a2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		min-height: 800px;
		margin-top: -85px;
		@include border-radius(20px);
		display: flex;
		box-shadow: 0 0 8px 0 rgba(0,0,0,0.36);
		@media(max-width: 1150px){
			margin-top: -20px;
		}
		@media(max-width: 1280px){
			min-height: 600px;
		}
		@media(max-width: 991px){
			display: block;
		}
		.info{
			width: 100%;
			padding-top: 150px; /*120px*/
			@media(max-width: 1280px){
				padding-top: 100px;
			}
			@media(max-width: 991px){
				padding-top: 80px;
			}
			h2{
				color: $white;
				font-family: $BreeRegular;
				text-align: center;
			}
			.info-flow{
				display: flex;
				justify-content: space-between;
				background: url("../images/flow-arrow.svg") 425px 65px no-repeat;
				margin-top: 60px;
				padding-left: 110px;
				padding-right: 80px;
				@media(max-width: 1280px){
				    background-position: 332px 72px;
				    margin-top: 40px;
				    padding-left: 60px;
				    padding-right: 60px;
				    background-size: 110px auto;
				}
				@media(max-width: 991px){
					background: url("../images/flow-arrow-mobile.svg") 50% 238px no-repeat;
					display: block;
					margin-top: 0px;
					padding: 20px;
				}
				.img-wrap{
					padding: 10px 0px;
				}
				h3{
					font-size: 20px;
					line-height: 26px;
					color: $white;
					font-family: $Roboto;
					font-weight: $Medium;
					text-align: center;
					text-transform: uppercase;
					@media(max-width: 1280px){
						font-size: 18px;
						br{
							// display: none;
						}
					}
					@media(max-width: 991px){
						font-size: 16px;
						line-height: 26px;
					}
				}
				.bebelac-bottle{
					@media(max-width: 1280px){
						text-align: left;
						max-width: 260px;
						@media(max-width: 991px){
							text-align: center;
							margin: auto;
						}
						img{
							max-width: 100%;
							@media(max-width: 991px){
								max-width: 200px;
							}
						}
					}
				}
				.diagram-holder{
					@media(max-width: 1280px){
						text-align: right;
						max-width: 170px;
						@media(max-width: 991px){
							margin: auto;
							margin-top: 75px;
							margin-bottom: 30px;
						}
						img{
							max-width: 100%;
						}
					}
				}
			}
		}
		.diagram{
			max-width: 290px;
			width: 100%;
          	background-color: $green_special;
          	position: relative;
          	padding-top: 100px; /* 80px */
          	@media(max-width: 1280px){
          		max-width: 240px;
          		padding-top: 40px;
          	}
          	@media(max-width: 991px){
          		max-width: 100%;
          		justify-content: space-evenly;
          		display: flex;
          		padding-left: 15px;
          		padding-right: 15px;
          	}
          	&:before{
          		display: block;
          		content: "";
          		background: url('../images/plus.svg') center center no-repeat;
          		height: 60px;
          		width: 60px;
          		position: absolute;
          		top: 50%;
          		margin-left: -31px;
          		@media(max-width: 991px){
          			top: -20px;
          			left: 50%;
          			background-size: 100% auto;
          			margin-left: -20px;
          			height: 40px;
          			width: 40px;
          		}
          	}
		}
	}
	.btn-wrap{
		margin-top: -35px;
		position: relative;
		z-index: 1;
		@media(max-width: 991px){
			margin-top: -25px;
		}
	}
}

.chart-wrap{
	text-align: center;
	margin: 45px 0px;
	@media(max-width: 991px){
		margin-top: 0px;
		margin-bottom: 60px;
	}
	.chart-animation{
		position: relative;
		display: inline-block;
		background-color: $green_special_dark;
		border-radius: 50%;
		overflow: hidden;
		height: 120px;
		width: 120px;
		margin: auto;
		@media(max-width: 991px){
			@include scale(0.7);
		}
		span{
			position: absolute;
			top: 50%;
			left: 50%;
			height: 100px;
			width: 100px;
			z-index: 1;
			font-size: 35px;
			font-family: $BreeRegular;
			color: $white;
			margin-top: -50px;
			margin-left: -50px;
			text-align: center;
			line-height: 108px;

		}
	}
	h3{
		font-size: 20px;
		line-height: 26px;
		color: $white;
		font-family: $Roboto;
		font-weight: $Medium;
		text-align: center;
		text-transform: uppercase;
		@media(max-width: 991px){
			font-size: 16px;	
			margin-top: -15px;	
		}
	}
	@media(max-width: 991px){
		&:first-child{
			.chart-animation{
			    transform-origin: right center;
			}
			h3{
			    text-align: right;
				padding-right: 4px;
			}
		}
		&:last-child{
			.chart-animation{
			    transform-origin: left center;
			}
			h3{
			    text-align: left;
				padding-left: 4px;
			}
		}
	}
}

.title{
	text-align: center;
	display: inline-block;
	width: 100%;
	h2{
		font-size: 60px;
		line-height: 66px;
		font-family: $BreeRegular;
		color: $default;
		@media(max-width: 1280px){
			font-size: 50px;
			line-height: 56px;
		}
		@media(max-width: 991px){
			font-size: 36px;
			line-height: 42px;
			br{display: none}
		}
		@media(max-width: 600px){
			font-size: 20px;
			line-height: 42px;
			br{display: none}
		}
	}
	h3{
		font-size: 40px;
		line-height: 44px;
		font-family: $BreeRegular;
		color: $default;
		@media(max-width: 1280px){
			font-size: 30px;
			line-height: 43px;
		}
		@media(max-width: 991px){
			font-size: 22px;
			line-height: 28px;
			br{display: none}
		}
		@media(max-width: 320px){
			font-size: 20px;
			line-height: 28px;
			br{display: none}
		}
	}
}

section.child-development{
	background: url('../images/oval-kids-bg.svg') center center no-repeat;
	background-size: auto 100%;
	@media(max-width: 1280px){

	}
	.title{
		margin-top: 120px;
		@media(max-width: 1280px){
			margin-top: 80px;
		}
		// @media(max-width: 991px){
		// 	margin-top: 130px;
		// }
		@media(max-width: 768px){
			margin-top: 90px;
		}
	}
	.development-inner{
		min-height: 587px;
		background: url('../images/kids.svg') top center no-repeat;
		mix-blend-mode: multiply;
		@media(max-width: 1280px){
			min-height: 500px;
			background-size: 709px auto;
		}
		@media(max-width: 991px){
			background: url('../images/kids-mobile.svg') top center no-repeat;
		}
	}
	.titles-wrap{
		margin: 170px auto 30px auto;
		max-width: 90%;
		@media(max-width: 991px){
			margin-top: 220px;
			max-width: 100%;
			display: flex;
			flex-wrap: nowrap;
			.title{
				margin: 0px;
					@media(max-width: 768px){
						margin: 15px 0;
					}
			}
		}
		@media (min-width: 411px) and (max-width: 414px) {
			margin: 262px auto 30px auto;
		}
	}
}

@media(min-width: 768px) and (max-width: 990px){
	section.child-development .titles-wrap{
		margin-top: 280px;
		max-width: 400px;
	}
}

.inhibitors-wrapper{
	background: url("../images/inhibitors-background.png") center center no-repeat;
	width: 100%;
	background-size: auto 100%;
	min-height: 720px;
    // text-align: center;
    // padding: 110px 0px 0px 0px;
    // background-position: center center;
    // background-size: auto 100%;
    // overflow: hidden;
    // min-height: 720px;
}

// inhibitors
section.inhibitors{
	.inh-wrap{
		.inhibitors-img{
			background-image: url(../images/inh-arch-img.png);
			width: 100%;
			background-position: center;
    		background-repeat: no-repeat;
    		background-size: cover;
    		height: 200px;
    		position: relative;
    		bottom: -140px;
    		@media(max-width: 1480px){
    			height: 150px;
    			bottom: -188px;
    		}
    		@media(max-width: 768px){
    			height: 120px;
    			bottom: -150px;
    		}
		}
		.inhibitors-background{
			background-image: url(../images/inh-background.png);
			width: 100%;
			background-position: center;
			background-repeat: repeat-x;
    		background-size: cover;
    		height: 800px;
		}
		h2{
			font-size: 45px;
			line-height: 42px;
			font-family: $BreeRegular;
			color: $default;
			margin: 20px 0px;
			text-align: center;
			padding-top: 100px;
			@media(max-width: 1480px){
				font-size: 35px;
				padding-top: 145px;
			}
			@media(max-width: 1280px){
				font-size: 35px;
			}
			@media(max-width: 991px){
				font-size: 32px;
				line-height: 36px;
			}
			@media(max-width: 768px){
				font-size: 24px;
				line-height: 36px;
			}
			@media(max-width: 600px){
				font-size: 24px;
				line-height: 36px;
			}
			@media(max-width: 320px){
				font-size: 20px;
				line-height: 36px;
			}
			@media (min-width: 1365px) and (max-width: 1367px) {
				font-size: 35px;
			}
		}
		p{
			margin-top: 60px;
			margin-bottom: 45px;

			text-align: center;
		}
	}
}


// inh-articles
section.inh-articles{
	h2{
		font-size: 45px;
		line-height: 42px;
		font-family: $BreeRegular;
		color: $default;
		margin: 20px 0px;
		text-align: center;
		@media(max-width: 1280px){
			font-size: 35px;
		}
		@media(max-width: 991px){
			font-size: 32px;
			line-height: 36px;
		}
		@media(max-width: 768px){
			font-size: 24px;
			line-height: 36px;
		}
		@media(max-width: 600px){
			font-size: 24px;
			line-height: 36px;
		}
		@media(max-width: 320px){
			font-size: 20px;
			line-height: 36px;
		}
		@media (min-width: 1365px) and (max-width: 1367px) {
			font-size: 35px;
		}
	}
	.article-area{
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 130px;
		@media(min-width: 768px)and (max-width: 1200px) {
			transform: scale(0.8);
    		margin-left: -126px;
    		position: relative;
    		left: 25px;
		}
		@media(max-width: 768px){
		    flex-direction: column;
		    max-width: 350px;
		    margin: auto;
		}
		@media(max-width: 600px){
		    flex-direction: column;
		    max-width: 273px;
		    margin: auto;
		}
		.article-section{
			width: 33.33%;
				@media(max-width: 768px){
					width: 100%;
					text-align: center;
				}
			.art-mg-1{
				background-image: url(../images/left-inh-txt.png);
				height: 280px;
				background-repeat: no-repeat;
				width: 473px;
				@media(max-width: 768px){
					background-image: url(../images/left-inh-txt-mobile.png);
					background-position-X:center; 
					width: 100%;
					height: auto;
					margin-bottom: -30px;
					background-size: 100% auto;

				}
				.inch-wrap{
					padding: 40px 90px 0px 45px;
					
						@media(max-width: 768px){
							padding: 100px 30px 206px;
						}
						@media(max-width: 600px){
							padding: 30px 30px 123px;
						}
						p{
							@media(max-width: 768px){
							font-size: 14px;
							}
						}
						
				}
			}
			.art-mg-2{
				background-image: url(../images/small-child.png);
				height: 298px;
				background-repeat: no-repeat;
				margin-left: 80px;
				margin-top: -10px;
				@media(max-width: 768px){
					background-position-X:center;
					margin-left: 0px; 	
				}
				@media(max-width: 768px){
					margin-top: -20px;
				}
			}
			.art-mg-3{
				background-image: url(../images/right-inh-txt.png);
				height: 280px;
				background-repeat: no-repeat;
				width: 473px;
				@media(max-width: 768px){
					background-position-X:center; 
					background-image: url(../images/right-inh-txt-mobile.png);
					width: 100%;
					height: auto;
					margin-top: -50px;
					background-size: 100% auto;
				}
				.inch-wrap{
					padding: 40px 35px 0 100px;
						@media(max-width: 768px){
							padding: 130px 30px;
						}
						@media(max-width: 600px){
							padding: 95px 20px 88px;
						}
						p{
							@media(max-width: 600px){
							font-size: 14px;
							}
						}
				}
			}
			h4 {
				font-size: 24px;
				line-height: 30px;
				color: #ffffff;
				font-family: "Bree Rg", Helvetica, Arial, sans-serif;
				text-align: left;
				color: $default;
				@media(max-width: 768px){
					text-align: center;
				}
			}
		}
		a{
			font-size: 18px;
		    font-family: "Roboto", Helvetica, Arial, sans-serif;
		    line-height: 32px;
		    color: #4A4A4A;
		    display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    text-transform: uppercase;
		    text-decoration: none;
		    background: transparent;
		    border: 0px;
		    outline: 0px;
		    @media(max-width: 768px){
					display: flex;
					justify-content: center;
				}
		    .icon{
		    	padding:7px;
		    }
		}
	}
	.inhibitors-articles{
		padding:150px 0 50px;
		@media(max-width: 768px){
			padding:50px 0 20px;
		}
	}		
}

.recipes-wrapper{
	background-image: url(../images/recipes.png);
	width: 100%;
	background-position: center;
	background-repeat: repeat-x;
	background-size: cover;
	height: 900px;
	a{
		text-decoration: none;
	}
	@media(max-width: 768px){
		height: auto;
		background-repeat: repeat;
	}
	.container-fluid {
	    // padding-right: 100px;
	    // padding-left: 100px;
	    // max-width: 1640px;
	    padding: 0 80px;
	    margin-right: auto;
	    margin-left: auto;
	    @media(min-width: 1921px){
	    	max-width: 1640px;
	    }
	    @media(max-width: 1480px){
	    	padding: 0 10px;
    		transform: scale(0.9);
	    }
	     @media(max-width: 1200px){
	    	padding: 0 80px;
	    }
	    @media(max-width: 768px){
	    	padding-right: 15px;
	    	padding-left: 15px;
	    }
	    .inner-row{
	    	display: flex;
	    	@media(max-width: 768px){
	    		flex-direction: column;
	    		margin-top: -100px;
	    	}
	    }
	    .cols-item{
	    	padding: 0px;
	    	@media(max-width: 768px){
	    		margin-bottom: 10px;
	    	}
	    }
	    .recipes-rich-scroll{
	    	width: 100%;
	    }
	    h4{
			color: $white;
			width: 330px;
		}
			p{
			color: $white;
			}
	    .recipes-fig-1{
			background-color: #f27731;
		}
		.recipes-fig-2{
			background-color: #e0ed94;
		}
		.recipes-fig-3{
			background-color: #e5814a;
		}
		.recipes-fig-4{
			background-color: #e58a41;
		}
		.recipes-fig-5{
			background-color: #e2ba40;
		}
		.recipes-fig-6{
			background-color: #e58a41;
		}
		.recipes-fig-7{
			background-color: #e58a41;
		}
		@media(max-width: 768px){
			.col-md-6{
				flex: 0 0 100%;
				max-width: 100%;
				}
			}
		
	}	

		h2{
		font-size: 45px;
		line-height: 42px;
		font-family: $BreeRegular;
		color: $default;
		margin: 20px 0px;
		padding-top: 80px;
    	padding-bottom: 30px;
		text-align: center;
		@media(max-width: 1280px){
			font-size: 35px;
		}
		@media(max-width: 991px){
			font-size: 32px;
			line-height: 36px;
		}
		@media(max-width: 768px){
			font-size: 24px;
			line-height: 36px;
		}
		@media(max-width: 600px){
			font-size: 24px;
			line-height: 36px;
		}
		@media(max-width: 320px){
			font-size: 20px;
			line-height: 36px;
		}
		@media (min-width: 1365px) and (max-width: 1367px) {
			font-size: 35px;
		}
	}
	.recipes-big-img{
		img{
			width: 100%;
			border-radius: 15px 15px 0 0;
			@media(max-width: 768px){
		    	height: auto;
		    }
		}
		.recipes-caption{
		    position: relative;
		    border-radius: 0px 0px 10px 10px;
		    padding: 15px 15px 5px;
		    min-height: 80px;
		    top: -90px;
		    @media(max-width: 768px){
		    	top: -10px;
		    }
		}
		a{
			text-decoration: none;
		}
	} 
	.recipes-small-img{
		margin-right: 15px;
		margin-left: 15px;
		max-height: 50%;
		@media(max-width: 768px){
		   margin-right: 0;
			margin-left: 0;
		    }
		img{
			width: 100%;
			border-radius: 15px 15px 0 0;
			height: 212px;
			@media(max-width: 768px){
				// min-width: 100%;
				height: auto;
			}
		}
		.recipes-caption{
		    position: relative;
		    border-radius: 0px 0px 10px 10px;
		    padding: 15px 15px 5px;
		    width: 100%;
		    min-height: 80px;
		    top: -25px;
		    @media(max-width: 768px){
				// max-width: 100%;
			}
		}
	} 
	.inner-recipes{
	    height: 600px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-wrap: wrap;
		@media(max-width: 768px){
			display: block;
			height: auto;
		}
		a{
			text-decoration: none;
		}
	}
	
}