.title{
  h3{
    font-size: 32px;
    margin: 0;
    @media(max-width: 768px){
      line-height: 43px;
      max-width: 234px;
      margin: auto!important;
    }
  }
  h4{
    font-family: $BreeRegular;
  }
  h5{
    font-size: 32px;
    color: $default;
    font-family: $BreeRegular;
    margin: 0;
  }
  &.modify{
    h3{
    color: $black;
    @media(max-width: 768px){
      font-size: 28px;
      max-width: 100%;
    }
    }
    span{
      color: $default;
    }
  }
}
.desc,.desc-caption{
  p,h4,h3{
  font-family: $BreeRegular;
  }
  p{
  font-size: 28px;
  margin: 0;
    @media(max-width:768px){
      font-size: 20px;
    }
  }
}
section.inhibit-ensure{
  padding: 60px 0;
  background-color: $dim_yellow;
  @media(max-width:768px){
    display: flex;
    flex-flow: column;
    padding-bottom: 0px;
  }
  h3,p,h4{
    margin: 0;
  }
  .desc-caption{
    padding-top: 30px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    p{
      font-size: 28px;
      @media(max-width:768px){
        font-size: 20px;
      }
    }
  }
  .img-wrap{
    margin-top: 30px;
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @media(max-width: 768px){
      margin-left:-15px;
      margin-right: -15px;
      background-position: 33% 50%;
      height: 300px;
    }
  }
  .content-row{
    display: flex;
    padding: 40px 0;
    @media(max-width:768px){
      flex-flow: column;
    }
    .content-inner{
      width: 50%;
      text-align: center;
      @media(max-width:768px){
        width: 100%;
      }
      .title{
        h4{
        text-transform: uppercase;
        color: $default;
        @media(max-width:768px){
          font-size: 20px;
        }
        } 
      }
      .desc{
        display: flex;
        justify-content: center;
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        p,h4{
          font-size: 28px;
          @media(max-width:768px){
            font-size: 20px;
          }
        }
        p{
          text-align: center;
          margin: 0;
          font-family: $BreeRegular;
          @media(max-width: 768px){
            max-width: 220px;
          }
        }
      }
      &+.content-inner{
        border-left: 1px solid $default;
        @media(max-width:768px){
          border: none;
          padding-top: 30px;
        }
        h4{
          color:$danger_light;		
        }
      }
    }
  }
}
section.inhibit-food-content{
  background-color: $yellow;
  padding-top: 60px;
  .title{
    h3{
      text-transform: uppercase;
      // color: $black;
    }
    span{
      color: $default;
    }
  }
  .content-wrap{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    @media(max-width:768px){
      flex-flow: column;
    }
  }
  .img-inner{
    padding-bottom: 30px;
    @media(max-width: 768px){
      padding-bottom: 20px;
    }
    img{
      border-radius: 50%;
      border: 3px solid $white;
      height: 300px;
      width: 300px;
      @media(max-width: 768px){
        margin: 0 auto;
        display: block;
        justify-content: center;
      }
    }
  }
  .img-wrap{
    .desc{
      p{
        max-width: 200px;
        margin: auto;
        text-align: center;
        @media(max-width: 768px){
          max-width: 160px;
          padding-bottom: 40px;
        }
      }
    }
  }
  .combinations{
    padding: 80px 0;
    @media(max-width: 768px){
      padding: 40px 0;
    }
    .title{
      h5{
        @media(max-width: 768px){
          min-width: 331px;
          font-size: 28px;
        }
      }
    }
    ul.items{
      padding: 0;
      display: flex;
      flex-flow: column;
      margin: 0;
      list-style: none;
      justify-content: space-around;
      align-items: center;
      padding-top: 40px;
      @media(max-width:768px){
        align-items: flex-start;
        margin-left: 15px;
      }
      li{
        position: relative;
        font-size: 24px;
        font-family: $BreeLight;
        @media(max-width:768px){
          text-align: left;
          font-size: 20px;
        }
        &:before{
          content: "";
          position: absolute;
          border-radius: 50%;
          height: 6px;
          width: 6px;
          background-color: $default;
          top: 14px;
          left: -9px;
          @media(max-width: 768px){
            height: 4px;
            width: 4px;
            top: 12px;
            left: -6px;
          }
        }
      }
    }
  }
}
.nutritions{
  .title{
    h3{
      text-transform: none;
      @media(max-width: 768px){
        font-size: 28px;
        text-transform: none!important;
        max-width: 100%;
      }
    }
  }
  .image-contents{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    flex-wrap: wrap;
    width: 100%;
    @media(max-width: 768px){
      padding-top: 40px;
    }
    .image-parent{
      width: 25%;
      margin-bottom: 40px;
      @media(max-width:768px){
        width: 50%;
        min-height: 120px;
      }
    }
    .image-content-wrap{
      .desc{
       p{
        margin-top: 40px;
        text-align: center;
        color: $default;
        @media(max-width: 768px){
          margin-top: 10px;
          margin-bottom: 40px;
        }
       }
      }
    }
  }
  .image-inner{
    position: relative;
    img{
      position: relative;
      z-index: 5;
      height: auto;
      width: 120px;
      margin: 0 auto;
      display: block;
      @media(max-width: 768px){
        width: 90px;
        height: auto;
      }
    }
    &:before{
      background-color: $white;
      content: "";
      position: absolute;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      z-index: 1;
      top: -3%;
      left: 30%;
      border: 1px solid $border-black;
      @media(max-width: 768px){
        top: -8%;
        left: 38%;
        width: 90px;
        height: 90px;
      }
      @media(max-width: 480px){
        top: -4%;
        left: 23%;
      }
    }
  }
}
section.inhibit-limit{
  background-color: $white-yellow-mix;
  padding: 60px 0;
  .title{
    h3{
      text-transform: uppercase;
      color: $black;
      font-family: $BreeLight;
      @media(max-width: 768px){
        max-width: 100%;
        font-size: 28px;
      }
    }
    span{
      color: $danger_light;
    }
  }
  .image-contents{
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    @media(max-width: 768px){
      padding-top: 40px;
    }
    .image-inner{
      &:before{
        @media(max-width: 768px){
          top: -1%;
          left: 30%;
        }
        @media(max-width: 480px){
          top: -3%;
          left: 6%;
        }
      }
    }
    @media(max-width: 768px){
      justify-content: space-between;
    }
    .image-parent{
      width: 30%;
      height: auto;
    }
  }
  .nutritions{
    max-width: 1000px;
    margin: auto;
  }
  .para-contents{
    p{
      font-size: 28px;
      margin: auto;
      text-align: center;
      font-family: $BreeRegular;
      @media(max-width: 768px){
        font-size: 20px;
      }
      &+p{
        margin-top: 40px;
        @media(max-width: 768px){
          margin-top: 20px;
          margin-bottom: 40px;
          padding-bottom: 40px;
        }
      }
    }
  }
}