section.tab-holder{
	padding: 0px 0px 95px 0px;
	@media(max-width: 1280px){
		padding-bottom: 60px;
	}
	.panel{
		display: none;
		&.active{
			display: block;
		}
	}
}

section.graph-wrap{
	padding-bottom: 80px;
	.graph-inner-wrap{
		opacity: 0; transition: all 1.5s ease-in-out;

		//overflow: hidden;

		//background-image: radial-gradient(51% 48%, #FBF1C3 52%, #FFEB8F 100%);
		background: $light_yellow;

		@include border-radius(20px);
		margin: 20px 0px;
		min-height: 565px;
		display: flex;
		position: relative;

		@media(max-width: 991px){
			display: block;
		}

		.graph-line-wrap{
			position: absolute;
			z-index: 1;
			left: 0px;
			right: 0px;
			.graph-line{
				padding: 10px;
				min-height: 50px;
				border-bottom: 2px dotted $white;
					.txt{
					font-size: 16px;
					font-family: $Roboto;
					font-weight: $Regular;
					color: $letter;
					min-width: 60px;
					text-align: center;
					display: inline-block;
					bottom: -12px;
    				position: relative;
					em{
						display: block;
						font-style: normal;
						position: absolute;
					    bottom: -28px;
					    width: 100%;
					}
				}
			}
			
		}

		.status-wrap, .iorn-data{
			min-height: 100%;
			position: relative;

		}

		.status-wrap{
			min-width: 380px;	
			@include border-radius(20px);

			-webkit-border-top-right-radius: 0px;
			-webkit-border-bottom-right-radius: 0px;
			-moz-border-radius-topright: 0px;
			-moz-border-radius-bottomright: 0px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			z-index: 2;
		}
		.iorn-data{
			min-width: calc(100% - 380px);
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbf1c3+0,ffeb8f+100 */
			background: #fbf1c3; /* Old browsers */
			background: -moz-radial-gradient(center, ellipse cover, #fbf1c3 0%, #ffeb8f 100%); /* FF3.6-15 */
			background: -webkit-radial-gradient(center, ellipse cover, #fbf1c3 0%,#ffeb8f 100%); /* Chrome10-25,Safari5.1-6 */
			background: radial-gradient(ellipse at center, #fbf1c3 0%,#ffeb8f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf1c3', endColorstr='#ffeb8f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			// overflow: hidden;
			-webkit-border-top-right-radius: 20px;
			-webkit-border-bottom-right-radius: 20px;
			-moz-border-radius-topright: 20px;
			-moz-border-radius-bottomright: 20px;
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
			    @media (max-width: 768px){
						min-width: calc(100% - 40px);
				}


			.wrapper-graph-items{
				position: relative;
				min-height: 100%;
				min-width: 170px;
				float: left;
				min-height: 510px;
				padding-top: 25px;
				z-index: 5;

			}
			.iron-progress{
				width: 50px;
				background-image: -webkit-gradient(linear, left top, left bottom, color-stop(4%, #FF3E42), color-stop(84%, #EC191E));
    			background-image: -webkit-linear-gradient(top, #FF3E42 4%, #EC191E 84%);
    			background-image: linear-gradient(-180deg, #FF3E42 4%, #EC191E 84%);
				padding-top: 0px;
				margin: 0 auto;
				margin-top: 0;
				position: absolute;
			    bottom: 60px;
    			padding-bottom: 73px;
    			left: 50%;
    			margin-left: -25px;
    			transition: all 1.5s ease-in-out;
			}
			.progress-head{
				position: absolute;
				text-align: center;
				background: #B71619;
				border: 7px solid #fc383c;
				border-radius: 50px;
				width: 70px;
				height: 70px;
				top: -60px;
				z-index: 1;
				padding: 8px;
				left: 50%;
				margin-left: -35px;
				padding: 14px 6px;
			}
			.word-break{
				line-height: 1;
				text-align: center;
				color: $white;
				font-size: 16px;
				width: 100%;
				word-spacing: 30000px;
			    padding: 0px;
			}
			.nutrition-image{
				height: 134px;
				width: 134px;
				margin: auto;
				@include border-radius(50%);
				border: 8px solid $white;
				-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.33);
				box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.33);
				overflow: hidden;
				background: $white;
				position: absolute;
				bottom: 2px;
				margin: auto;
				left: 50%;
				margin-left: -67px;
				right: auto;
				img{
					margin-right: auto;
					margin-left: auto;
					display: block;
					width: 52px;
					height: 70px;
				}
				h4{
					//font-family: $alternate-font;
					font-family: $BreeRegular;
					color: $dark;
					font-size: 13px;
					font-weight: $Regular;
					text-transform: uppercase;
					max-width: 70%;
					margin: auto;
					text-align: center;
					padding-top: 3px;
				}
			}
			.iron-data-scroll{
				width: 680px;
				height: 540px;
				margin-left: auto;
				margin-right: auto;
				display: flex;
					@media (max-width:1280px){
						width: 494px;
					}
						@media (max-width:991px){
							width: 522px;
						}
			} 
		}

		.graph-tower{
			display: flex;
			min-height: 100%;
			position: relative;
			z-index: 2;
			//@include rotate(90);
			//@include scale(0.5);
			//transform-origin: left center;
			.tower-wrap{
				min-height: 100%;
				width: 50%;
				display: flex;
				position: relative;
				padding: 0px 1px;
				.tower-progress{
					width: 110px;
					height: auto;
					padding-bottom: 110px;
					-webkit-border-top-left-radius: 20px;
					-webkit-border-top-right-radius: 20px;
					-moz-border-radius-topleft: 20px;
					-moz-border-radius-topright: 20px;
					border-top-left-radius: 20px;
					border-top-right-radius: 20px;
					position: absolute;
					bottom: 105px;
					transition: all 1.5s ease-in-out;
					//position: relative;
					.txt{
						font-family: $BreeRegular;
						font-size: 30px;
						line-height: 30px;
						text-align: center;
						color: $white;
						position: absolute;
						top: 30px;
						width: 100%;
						em{
							display: block;
							font-style: normal;
							width: 100%;
						}
					}
				}
				.tower-base{
				    height: 125px;
				    width: 100%;
				    display: block;
				    position: absolute;
				    background-repeat: no-repeat;
				    background-position: center center;
				    padding: 50px 25px;
				    bottom: -20px;
				    h3{
				    	font-size: 18px;
				    	line-height: 24px;
				    	font-family: $BreeRegular;
				    	color: $white;
				    }
				}
				&.tower-recomented{
				    justify-content: flex-end;
					.tower-progress{
						background-image: linear-gradient(-180deg, #FF8B00 0%, #E56300 100%);
					}
					.tower-base{
						text-align: right;
						background-image: url(../images/recomment-desk-base.svg);
						background-position: right center;
					}
				}
				&.tower-status{
				    justify-content: flex-start;
					.tower-progress{
						background-image: linear-gradient(-180deg, #FF3E42 4%, #EC191E 84%);
					}
					.tower-base{
						text-align: left;
						background-image: url(../images/iorncount-desk-base.svg);
						background-position: left center;
					}
				}
			}
		}

	}
}

@media(max-width: 991px){
	//.mCSB_horizontal.mCSB_inside > .mCSB_container{width: auto !important}
	//.mCSB_scrollTools.mCSB_scrollTools_horizontal{display: none;}
	section.graph-wrap .graph-inner-wrap .iorn-data .iron-data-scroll{width: 100%; height: auto;}
	section.graph-wrap .graph-inner-wrap .iorn-data .iron-data-scroll{display: block;}
	section.graph-wrap .graph-inner-wrap .iorn-data .wrapper-graph-items{width: 100%;
    min-height: 140px;
    padding: 0px;
    max-width: 320px;
    display: block;
    float: none;
    margin: auto;}
    section.graph-wrap .graph-inner-wrap .status-wrap{
    	display: inline-block;
    	left: 50%;
    	margin-left: -160px;
    }
    section.graph-wrap .graph-inner-wrap .iorn-data{width: 100%; height: auto; min-width: 100%;}
	section.graph-wrap .graph-inner-wrap{opacity: 1; height: auto; width: 100%;}
	section.graph-wrap .graph-inner-wrap .iorn-data .iron-progress{width: auto; height: 40px; padding-bottom: 0px; left: 114px; right: auto; top: auto; right: auto;}
	section.graph-wrap .graph-inner-wrap .iorn-data .nutrition-image{bottom: auto; top: auto; left: 0px; right: auto; margin: 0px;}
	section.graph-wrap .graph-inner-wrap .graph-tower .tower-wrap{width: 100%; height: auto; min-height: 0px;}
	section.graph-wrap .graph-inner-wrap .graph-tower{display: block;}
	section.graph-wrap .graph-inner-wrap .graph-line-wrap{
		position: absolute;
	    z-index: 1;
	    top: 0px;
	    bottom: 0px;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    left: 50%;
	    right: auto;
	    max-width: 320px;
	    margin: -152px;
	}
	section.graph-wrap .graph-inner-wrap .graph-line-wrap .graph-line{
	    padding: 10px;
	    min-height: 100%;
	    border-right: 2px dotted #ffffff;
	    width: 50px;
	}
	section.graph-wrap .graph-inner-wrap .graph-tower .tower-wrap.tower-recomented .tower-base{
		background-image: url(../images/recomment-mobile-base.svg);
	}
	section.graph-wrap .graph-inner-wrap .graph-tower .tower-wrap.tower-status .tower-base{
		background-image: url(../images/iorncount-mobile-base.svg);
	}
	section.graph-wrap .graph-inner-wrap .graph-tower .tower-wrap{
		min-height: 100px;
	    display: block;
	}
	section.graph-wrap .graph-inner-wrap .graph-tower .tower-wrap .tower-base{
	    height: 94px;
		width: 149px;
		bottom: auto;
		padding: 0px;
	}

	section.graph-wrap {
		.graph-inner-wrap{
			.status-wrap{
				max-width: 100%;
				margin: 0px;
				left: auto;
				width: 100%;
			}
			.graph-line-wrap{
				flex-direction: row-reverse;
				right: 0px;
				width: 100%;
				max-width: calc(100% - 129px);
				left: auto;
				margin: 0px;
				.graph-line{
					width: 14.4%;
					.txt{
						bottom: auto;
				    	top: 0px;
				    	min-width: 100%;
				    	font-size: 12px;
				    	em{
				    		bottom: -20px;
				    	}
					}
				}
			}
			.graph-tower{
				padding-top: 40px;
				padding-bottom: 30px;
				margin-left: -20px;
				 .tower-wrap{
					min-height: 94px;
					margin: 1px 0px;
					.tower-base{
						text-align: left;
						padding: 15px;
						display: flex;
						align-items: center;
						background-size: 100% 100%;
						background-position: center center !important;
						h3{
							font-size: 16px;
							text-align: left;
							line-height: 20px;
							margin: 0px;
						}
					}
					.tower-progress .txt{
					    top: 20px;
					    width: auto;
					    right: 20px;
					}
					.tower-progress{
						width: auto;
					    height: 64px;
					    left: 149px;
					    padding-bottom: 0px;
					    position: absolute;
				    	bottom: auto;
				    	border-radius: 0px;
				    	padding: 0px;
				    	-webkit-border-top-right-radius: 20px;
						-webkit-border-bottom-right-radius: 20px;
						-moz-border-radius-topright: 20px;
						-moz-border-radius-bottomright: 20px;
						border-top-right-radius: 20px;
						border-bottom-right-radius: 20px;
						.txt{
							display: flex;
							font-size: 24px;
							em{
								display: inline-block;
								margin-left: 5px;
							}
						}
					}
					&.tower-recomented{
						.tower-progress{
							bottom: 0px;
						}
					}
					&.tower-status{
						.tower-progress{
							top: 0px;
						}
					}
				}
			}
			.iorn-data {
				padding-left: 44px;
				border-top-left-radius: 20px;
    			border-bottom-left-radius: 20px;
    			padding-bottom: 30px;
    			padding-top: 30px;
    			.wrapper-graph-items{
    				margin: 10px 0px;
    			}
    			@media(max-width: 768px){
    				padding-left: 16px;
    			}
				.wrapper-graph-items{
					max-width: 100%;
				}
				.progress-head{
					top: -15px;
    				right: -30px;
					left: auto;
					margin: 0px;
				}
				.iron-progress{
					min-width: 90px;
				}
			}
		}
	}

	section.graph-wrap{
		padding-bottom: 40px;
		.title{
			h2{
				font-size: 40px;
			}
		}
	}

}
.preview-btn-test{
	margin: 20px 0 0 0;
	.icon{
			font-size: 20px;
		@media(max-width: 1280px){
			font-size: 18px;
		}
		@media(max-width: 991px){
    		font-size: 15px;
   		}
	}
}

.calculate-btn-test{
	margin: 20px 0 0 0;
	.icon{
			font-size: 20px;
		@media(max-width: 1280px){
			font-size: 18px;
		}
		@media(max-width: 991px){
    		font-size: 15px;
   		}
	}
}
.warning-msg{
	// display: none;
	color: $black;
	font-size: 20px;
	text-align: center;
	// padding: 20px 0;
}
@media (max-width: 991px){
section.graph-wrap .graph-inner-wrap .graph-line-wrap .graph-line:first-child {
    border-right: none;
}
section.graph-wrap .graph-inner-wrap .graph-line-wrap .graph-line:last-child {
    border-left: 2px dotted $white;
}
}