section.result-info{
	padding-bottom: 80px;
	.result-wrap{
		/*background-image: radial-gradient(38% 45%, #91E2D2 62%, #48B9A2 100%);*/
		overflow: hidden;
		
		background: #91e2d2; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover, #91e2d2 0%, #48b9a2 100%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover, #91e2d2 0%,#48b9a2 100%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center, #91e2d2 0%,#48b9a2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91e2d2', endColorstr='#48b9a2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

		@include border-radius(20px);
		box-shadow: 0 0 8px 0 rgba(0,0,0,0.36);
		display: block;
		hr{
			border-top: 1px solid rgb(255, 254, 254);
		}
		

		@media(max-width: 1280px){
			min-height: 600px;
		}
		@media(max-width: 991px){
			display: block;
		}
		@media(max-width: 768px){
			@include border-radius(15px);
		}
		.message-wrap{
			text-align: left;
			background: $green_special;
			display: inline-block;
			padding: 60px 75px 50px 75px;
			@media(max-width: 1280px){
				padding: 40px 45px 40px 45px;
			}
			@media(max-width: 768px){
				padding: 20px;
			}
			@media(max-width: 768px){
				padding-bottom: 30px;
			}
			.title{
				margin-bottom: 25px;
				max-width: 75%;
				@media(max-width: 1280px){
					max-width: 90%;
				}
				@media(max-width: 768px){
					margin: 15px 0px;
				}
				h3{
					margin: 0px;
					text-align: left;
					color: $white;
					font-size: 40px;
					line-height: 46px;
					@media(max-width: 768px){
						font-size: 24px;
						line-height: 30px;
					}
				}
			}
			p{
				margin: 0px;
				text-align: left;
				color: $white;
				max-width: 90%;
				font-family: $BreeRegular;
				font-size: 24px;
				line-height: 30px;
				@media(max-width: 1280px){
					max-width: 100%;
				}
				@media(max-width: 768px){
					font-size: 18px;
					line-height: 24px;
				}
			}
			.warning-milk{
				p{	
					color: #fcdd4c;
				}	
			}
	
		}
		.info{
			width: 100%;
			padding: 55px 75px 75px 75px;
			display: flex;
			@media(max-width: 1280px){
				padding: 40px 45px 40px 45px;
			}
			@media(max-width: 991px){
				display: block;
			}
			@media(max-width: 768px){
				padding: 30px 20px 20px 20px;
			}
			.title{
				max-width: 260px;
				text-align: left;
				padding-top: 50px;
				@media(max-width: 1280px){
					//padding-top: 0px;
				}
				@media(max-width: 991px){
					max-width: 100%;
					padding-top: 0px;
				}
				@media(max-width: 768px){
					padding-top: 0px;
				}
				h4{
					font-size: 24px;
					line-height: 30px;
					color: $white;
					font-family: $BreeRegular;
					text-align: left;
					@media(max-width: 768px){
						font-size: 18px;
						line-height: 24px;
					}
				}
			}

			.info-flow{
				display: flex;
				justify-content: space-between;
				background: url("../images/flow-arrow.svg") 320px 75px no-repeat;
				margin-left: 70px;
				min-width: 665px;
				@media(max-width: 1280px){
					margin-left: 30px;
				    background-position: 280px 72px;
				    background-size: 110px auto;
				    min-width: 580px;
				}
				@media(max-width: 991px){
					background-position: center center;
					margin: 20px 0px 0px 0px;
					padding: 0px;
				}
				@media(max-width: 768px){
					background-size: 60px auto;
					background-position: 143px 40px;
					padding: 0px;
					margin-top: 10px;
					min-width: auto;
					max-width: 320px;
					margin: auto;
				}
				@media(max-width: 767px){
					background-size: 60px auto;
					background-position: 143px 40px;
					padding: 0px;
					margin: 10px 0px 30px 0px;
					min-width: auto;
					max-width: 320px;
				}
				@media(max-width: 767px){
					background-size: 33px auto;
    				background-position: 130px 40px;
				}
				.img-wrap{
					padding: 10px 0px;
				}
				h3{
					font-size: 20px;
					line-height: 26px;
					color: $white;
					font-family: $Roboto;
					font-weight: $Medium;
					text-align: center;
					text-transform: uppercase;
					@media(max-width: 1280px){
						font-size: 18px;
						br{
							// display: none;
						}
					}
					@media(max-width: 991px){
						font-size: 16px;
						line-height: 26px;
					}
					@media(max-width: 768px){
						font-size: 12px;
						line-height: 16px;
					}
				}
				.bebelac-bottle{
					@media(max-width: 1280px){
						text-align: left;
						max-width: 260px;
						@media(max-width: 991px){
							text-align: center;
							margin: 0px;
							marign-left: auto;
						}
						img{
							max-width: 100%;
							@media(max-width: 991px){
								max-width: 200px;
							}
							@media(max-width: 768px){
								max-width: 100%;
							}
						}
						@media(max-width: 768px){
							.img-wrap{
								max-width: 150px;
							}
						}
					}
					@media(max-width: 768px){
						max-width: 240px;
						//margin-left: auto;
						width: 100%;
					}
				}
				.diagram-holder{
					@media(max-width: 1280px){
						text-align: right;
						max-width: 170px;
						@media(max-width: 991px){
							margin: 0px;
							marign-right: auto;
						}
						@media(max-width: 768px){
							max-width: 140px;
						}
						img{
							max-width: 100%;
						}
					}
				}
			}
		}
		&.danger-bg{
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed7679+0,ed3c41+100 */
			background: #ed7679; /* Old browsers */
			background: -moz-radial-gradient(center, ellipse cover, #ed7679 0%, #ed3c41 100%); /* FF3.6-15 */
			background: -webkit-radial-gradient(center, ellipse cover, #ed7679 0%,#ed3c41 100%); /* Chrome10-25,Safari5.1-6 */
			background: radial-gradient(ellipse at center, #ed7679 0%,#ed3c41 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed7679', endColorstr='#ed3c41',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			.message-wrap{
				background: $danger_light;
			}	
		}
	}
	.btn-wrap{
		margin-top: -35px;
		position: relative;
		z-index: 1;
		@media(max-width: 991px){
			margin-top: -25px;
		}
	}
				// 30/10/2018
		.result-iron-intake{
			max-width:100%;
				.result-wrap-intake {
				    text-align: left;
				    // background: #48B9A2;
				    display: inline-block;
				    padding: 60px 75px 0 75px;
				    @media(max-width: 768px){
						 padding: 30px 20px 0 20px;
					}
				    .title{
						margin-bottom: 25px;
		    			// max-width: 75%;
		    			h4{
							font-size: 24px;
							line-height: 30px;
							color: $white;
							font-family: $BreeRegular;
							text-align: left;
							@media(max-width: 768px){
								font-size: 18px;
								line-height: 24px;
							}
						}
						p{
							margin: 0px;
							text-align: left;
							color: $white;
							max-width: 90%;
							font-family: $BreeRegular;
							font-size: 18px;
							line-height: 30px;
							@media(max-width: 1280px){
								max-width: 100%;
							}
							@media(max-width: 768px){
								font-size: 18px;
								line-height: 24px;
							}
						}
					}
				}
		}
			// 30/10/2018
}
.result-title{
	margin-bottom: 25px;
	max-width: 75%;
	@media(max-width: 1280px){
		max-width: 90%;
	}
	@media(max-width: 768px){
		margin: 15px 0px;
	}
	h3{
		margin: 0px;
		text-align: left;
		color: $white;
		font-size: 40px;
		line-height: 46px;
		@media(max-width: 768px){
			font-size: 24px;
			line-height: 30px;
		}
	}
	h4{
		font-size: 24px;
		line-height: 30px;
		color: $white;
		font-family: $BreeRegular;
		text-align: left;
		@media(max-width: 768px){
			font-size: 18px;
			line-height: 24px;
		}
	}
	ol{
		color: $white;
		padding-left: 20px
	}
}