// Buttons styles go here
.btn{
	color: $dark;
	// font-family: $Roboto;
	font-family: $BreeRegular;
	padding-left: 25px;
	padding-right: 25px;
	&:focus{
		box-shadow: none;
		color: $dark;
	}
	&.btn-md{
		font-size: 24px;
		height: 70px;
		padding: 20px 60px;
		line-height: 30px;
		@media(max-width: 1280px){
			font-size: 18px;
			height: 60px;
		    padding: 15px 60px;
		    line-height: 30px;
		}
		@media(max-width: 991px){
			font-size: 16px;
			height: 50px;
		    padding: 15px 60px;
		    line-height: 20px;
		}
	}
	&.btn-primary{
		background: $primary;
		color: $dark;
		font-family: $Roboto;
		font-weight: $Medium;
		border: 0px;
		text-transform: uppercase;
		@include border-radius(30px);
		&:active:focus{
			box-shadow: none;
			color: $dark;
		}
			&:not(:disabled){
				&:not(.disabled){
					&:active:focus{
						-webkit-box-shadow: none;
						color: #fff;
						background-color: $default;
						border-color: $default;
					}
				}
			}
	}
}

.sticky-button{
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	bottom: 0px;
	left: 0px;
	a, button{
		padding: 20px;
		display: block;
		font-size: 20px;
		background: $primary;
		text-transform: uppercase;
		width:100%;
		.icon{
			font-size: 16px;
		}
		@media(max-width: 768px){
			padding: 15px 20px;
		}
	}
}

button.link{
	outline: 0;
	&:focus, &:hover{
		outline: 0;
		box-shadow: none;
		color: $dark;
	}
}

.btn-wrap{
	&.center{
		text-align: center;
	}
}