.nutrition-wrap{
	display: flex;
	flex-wrap: wrap;
	.nutrition-item{
		margin: 15px 0px 20px;
		width: calc(100% * (1/4));
		@media(max-width: 768px){
			width: calc(100% * (1/2));
		}
	}
}

.nutrition-item{
	min-height: 280px;
	text-align: center;
	@media(max-width: 768px){
		min-height: 200px;
	}
	.oval{
		height: 190px;
		width: 190px;
		margin: auto;
		@include border-radius(50%);
		border: 8px solid $white;
		box-shadow: 0 1px 4px 0 rgba(0,0,0,0.33);
		overflow: hidden;
		background: $white;
		@media(max-width: 1280px){
			height: 160px;
			width: 160px;
		}
		@media(max-width: 768px){
			@include scale(0.85);
		}
		@media(max-width: 320px){
			height: 140px;
			width: 140px;
		}
		.img-wrap{
			margin: auto;
		    height: 130px;
		    width: 170px;
		    line-height: 130px;
		    overflow: hidden;
		    @media(max-width: 1280px){
		    	height: 90px;
			    width: 100px;
			    line-height: 90px;
			    margin: 6px auto;
		    }
		    @media(max-width: 320px){
		    	height: 75px;
			    width: 83px;
		    }
			img{
				max-width: 100%;
				max-height: 100%;
			}
		}
		h4{
			// font-family: $Roboto;
			font-family: $BreeRegular;
			color: $dark;
			font-size: 14px;
			font-weight: $Regular;
			text-transform: uppercase;
		    max-width: 70%;
    		margin: auto;
    		@media(max-width: 1400px){
    			margin-top: -3px;
    			font-size: 12px;
    		}
    		@media(max-width: 1280px){
    			font-size: 11px;
    		}
    		@media(max-width: 600px){
    			font-size: 10px;
    		}
    		@media(max-width: 320px){
    			font-size: 10px;
    		}

		}
	}
	h3{
		//font-family: $Roboto;
		font-family: $BreeRegular;
		color: $dark;
		font-size: 16px;
		font-weight: $Regular;
		text-transform: uppercase;
		margin: 20px 0px 0px;
		min-height: 38px;
		@media(max-width: 1280px){
			font-size: 14px;
		}
		@media(max-width: 768px){
			margin-top: 0px;
		}
	}
	.num-selector{
		padding: 10px 0px;
		input{

		}

	}
}

.number-style{
	display: inline-flex;
	@include border-radius(10px);
	overflow: hidden; 
	input{
		min-width: 60px;
		text-align: center;
		font-family: $Roboto;
		font-size: 16px;
		color: $dark;
		margin-right: 2px;
		height: 38px;
		line-height: 38px;
	}
	.controls{
		display: block;
		background: $white;
		padding: 4px 5px;
		min-width: 39px;
		text-align: center;
		height: 38px;
		.number-minus, .number-plus{
			margin: 0px auto;
			display: block;
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 0px;
			border: 0px;
			height: 15px;
			&:before, &:after{
				display: none;
			}
		}
		.number-minus{
			background-image: url(../images/arrow-down.svg);
		}
		.number-plus{
			background-image: url(../images/arrow-up.svg);
		}
	}
}