.panel-switch-wrap{
	text-align: center;
	@media(max-width: 768px){
		display: none;
	}
}
.panel-switch{
	display: inline-flex;
    justify-content: center;
    position: relative;
    margin-bottom: -1px;
    &:after{
		height: 10px;
		width: 100%;
		display: block;
		content: '';
		background: transparent;
		box-shadow: 0 -2px 10px 0 rgba(0,0,0,0.31);
		position: absolute;
		bottom: -10px;
	}
	.btn-switch{
		margin: 0px 1px;
		padding: 20px 50px;
		height: 70px;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 30px;
		@include border-radius(10px);
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		position: relative;
		@include transition(all, .1s, ease-in-out);
		@media(max-width: 1280px){
			font-size: 18px;
			padding: 15px 30px;
			height: 60px;
		}
		&:hover, &.active{
			padding-top: 30px;
			margin-top: -10px;
			height: 80px;
			color: $dark;
			@media(max-width: 1280px){
				padding-top: 20px;
			    margin-top: -5px;
			    height: 65px;
			}
		}
		&.active{
			z-index: 1;
			&.bg-orange{
				background-image: linear-gradient(0deg, $orange 2%, #FBD9C1 94%);
			}
			&.bg-green{
				background-image: linear-gradient(0deg, $green 2%, #E4EDB2 94%);
			}
			&.bg-red{
				background-image: linear-gradient(0deg, $red 2%, #FAE5E5 94%);
			}
			&.bg-blue{
				background-image: linear-gradient(0deg, $blue 2%, #D1F1EB 94%);
			}
		}
	}
}

.btn-switch-mobile{
	display: none;
	&.bg-orange{
		background-color: $orange;
	}
	&.bg-green{
		background-color: $green;
	}
	&.bg-red{
		background-color: $red;
	}
	&.bg-red{
		background-color: $red;
	}

	padding: 15px 30px;
	width: 100%;
	text-align: left;
	border-top: 1px solid $white;
	border-bottom: 1px solid $white;
	@include border-radius(10px);
	text-transform: uppercase;
	font-size: 20px;

	@media(max-width: 768px){
		display: block;
	}
}

.panel-collapse{
	position: relative;
	z-index: 1;
	overflow: hidden;
	@include border-radius(20px);
	@media(max-width: 768px){
		@include border-radius(10px);
		&.active{
			margin-top: 15px;
			margin-bottom: 15px;
			.btn-switch-mobile{
				border: 0px;
				background: rgba($white, 0.3) !important;
				border-bottom-right-radius: 0px;
				border-bottom-left-radius: 0px;
			}
		}
		.panel-footer{
			& > a.prev:not(:only-child){
				display: none;
			}
		}
		
	}
}

.panel{
	@include border-radius(20px);
	overflow: hidden;
	@media(max-width: 768px){
		@include border-radius(10px);
		//margin-bottom: 15px;
	}
	.panel-inner{
		padding: 50px;
		@media(max-width: 1280px){
			padding: 30px;
		}
		@media(max-width: 768px){
			padding: 20px;
		}
	}
	.panel-header{
		background: rgba($white, 0.3);
		display: block;
		min-height: 140px;
		padding: 38px 70px 0px;
		@media(max-width: 1280px){
			padding: 28px 50px;
			min-height: 80px;
		}
		@media(max-width: 768px){
			padding: 20px;
		}
		h2{
			font-size: 32px;
			font-weight: $Regular;
			font-family: $Roboto;
			line-height: 30px;
			color: $dark;
			margin-bottom: 12px;
			@media(max-width: 1280px){
				font-size: 26px;
				line-height: 24px;
			}
			@media(max-width: 768px){
				font-size: 20px;
				line-height: 26px;
				margin-bottom: 5px;
			}
		}
		p{
			font-family: $Roboto;
			font-weight: $Regular;
			font-size: 20px;
			color: $dark;
			margin-bottom: 0px;
			@media(max-width: 1280px){
				font-size: 16px;
			}
			@media(max-width: 768px){
				font-size: 14px;
				line-height: 18px;
			}
		}
	}
	.panel-footer{
		background: rgba($white, 0.3);
		display: flex;
	    justify-content: space-between;
		min-height: 80px;
		padding: 25px 70px;
		@media(max-width: 1280px){
	    	padding: 15px 50px;
	    	min-height: 60px;
	    }
	    @media(max-width: 768px){
	    	padding: 15px;
	    }
		.link{
			font-size: 24px;
			font-family: $Roboto;
			line-height: 32px;
			color: $dark;
			display: flex;
			text-transform: uppercase;
			text-decoration: none;
			background: transparent;
			border: 0px;
			outline: 0px;
			@media(max-width: 1280px){
				font-size: 18px;
			}
			@media(max-width: 768px){
				margin-left: auto;
				margin-right: auto;
			}
			&:hover{
				color: $default;
			}
			&.prev:before, &.next:after{
				background-repeat: no-repeat;
				background-position: center center;
				width: 32px;
				height: 32px;
				display: block;
				content: "";
				@media(max-width: 1280px){
					//height: 26px;
					//width: 26px;
					background-size: 10px auto;
				}
			}
			&.prev:before{
				background-image: url(../images/arrow-left.svg);
				margin-left: -10px;
					@media(max-width: 600px){
						display:none;
					}
			}
			&.next:after{
				background-image: url(../images/arrow-right.svg);
				margin-right: -10px;
				@media(max-width: 768px){
					@include rotate(90);
				}
			}
			&.end{
				margin-left: auto;
				@media(max-width: 768px){
					margin-left: auto;
					margin-right: auto;
				}
			}
			&.start{
				margin-right: auto;
				@media(max-width: 768px){
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
		button, .preview{
			&.link{
				&.next:after{
					@media(max-width: 768px){
						@include rotate(0);
					}
				}
			}
		}
	}
}