// Color Variables
$primary 				: 	#FCDD4C;
$primary_light 			: 	#FEEB8D;
$default				:	#1082CA;
$white					: 	#ffffff;
$black					: 	#000000;
$dim_yellow             :   #fefbed;    
$yellow					: 	#FFF8D9;
$yellow_light			: 	#FFF4BA;

$orange					: 	#FFCAA4;
$green					: 	#E0EE95;
$green_special			: 	#48B9A2;
$green_special_dark		: 	#3d9d89;
$blue					: 	#AFEFE3;
$red					: 	#FFC1C1;

$danger					: 	#E60004;
$danger_light			: 	#E1383C;
$grey					: 	#58585E;
$hash					: 	#666666;
$dark					: 	#4A4A4A;

$light_yellow			:	#FEE87D;

$letter					:	#BE7636;
$white-yellow-mix       :   #fffdf6;
$border-black           :   #d1c9a8;

.bg-primary{ background-color: $primary !important;}
.bg-primary_light{ background-color: $primary_light !important;}
.bg-default{ background-color: $default !important;}
.bg-yellow{ background-color: $yellow !important;}
.bg-yellow_light{ background-color: $yellow_light !important;}
.bg-orange{ background-color: $orange !important;}
.bg-green{ background-color: $green !important;}
.bg-blue{ background-color: $blue !important;}
.bg-red{ background-color: $red !important;}
.bg-danger{ background-color: $danger !important;}

.color-primary{ color: $primary }
.color-primary_light{ color: $primary_light }
.color-default{ color: $default }
.color-yellow{ color: $yellow }
.color-yellow_light{ color: $yellow_light }
.color-orange{ color: $orange }
.color-green{ color: $green }
.color-blue{ color: $blue }
.color-red{ color: $red }
.color-danger{ color: $danger }