// Common Styles
a, .btn, a:focus, .btn:focus{outline: 0;}
html, body{font-size: 100%; font-family: $BreeRegular; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
p {}
a, button{ @include transition(all, .1s, ease-in-out);}
a{color: dark;}
a:hover, a:focus{color: $default;}
b, label{}
h1, h2, h3, h4, h5, h6{font-family: $BreeBold;}
textarea{resize: vertical}
html{
	background: $white;
}
body{
	background-image: linear-gradient(0deg, #FFFFFF 2%, $yellow_light 300%);
	&.inverse{
		background-image: linear-gradient(180deg, #FFFFFF 2%, $yellow_light 200%);
	}
}


.container{
	@media(min-width: 1200px){
		max-width: 1180px;
	}
	@media(max-width: 1280px){
		max-width: 991px;
	}
	@media(min-width: 768px) and (max-width: 991px){
		max-width: 100%;
	}
}