.icon-wrap{
	.icon{
		background-repeat: no-repeat;
		background-position: center center;
		&.icon-food{
			background-image: url('../images/food.svg');
		}
		&.icon-portion{
			background-image: url('../images/portion.svg');
		}
		&.icon-meals{
			background-image: url('../images/meals.svg');
		}
		&.icon-result{
			background-image: url('../images/result.svg');
		}
	}
}