@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nvqsmu');
  src:  url('../fonts/icomoon.eot?nvqsmu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nvqsmu') format('truetype'),
    url('../fonts/icomoon.woff?nvqsmu') format('woff'),
    url('../fonts/icomoon.svg?nvqsmu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e900";
}
