//Fonts-Families
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

$alternate-font: Helvetica, Arial, sans-serif;

@font-face {
    font-family: 'Bree Rg';
    src: url('../fonts/Bree-Regular.eot');
    src: url('../fonts/Bree-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bree-Regular.woff2') format('woff2'),
        url('../fonts/Bree-Regular.woff') format('woff'),
        url('../fonts/Bree-Regular.ttf') format('truetype'),
        url('../fonts/Bree-Regular.svg#Bree-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bree Bold';
    src: url('../fonts/Bree-Bold.eot');
    src: url('../fonts/Bree-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bree-Bold.woff2') format('woff2'),
        url('../fonts/Bree-Bold.woff') format('woff'),
        url('../fonts/Bree-Bold.ttf') format('truetype'),
        url('../fonts/Bree-Bold.svg#Bree-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bree Lt';
    src: url('../fonts/Bree-Light.eot');
    src: url('../fonts/Bree-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bree-Light.woff2') format('woff2'),
        url('../fonts/Bree-Light.woff') format('woff'),
        url('../fonts/Bree-Light.ttf') format('truetype'),
        url('../fonts/Bree-Light.svg#Bree-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Baldufa Arabic';
    src: url('../fonts/BaldufaArabic-Regular.eot');
    src: url('../fonts/BaldufaArabic-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BaldufaArabic-Regular.woff2') format('woff2'),
        url('../fonts/BaldufaArabic-Regular.woff') format('woff'),
        url('../fonts/BaldufaArabic-Regular.ttf') format('truetype'),
        url('../fonts/BaldufaArabic-Regular.svg#BaldufaArabic-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$BreeRegular: 'Bree Rg', $alternate-font;
$BreeBold: 'Bree Bold', $alternate-font;
$BreeLight: 'Bree Lt', $alternate-font;
$Arabic: 'Baldufa Arabic', $alternate-font;
$Roboto: 'Roboto', $alternate-font;

//Font-Weight
$Thin 			: 100;
$Etralight 		: 200;
$Light			: 300;
$Regular		: 400;
$Medium			: 500;
$Semibold		: 600;
$Bold			: 700;
$ExtraBold		: 800;
$Black			: 900;