section.hero-wrap{
	//background-color: rgba($blue, 0.5);
	width: 100%;
	display: block;
	position: relative;
	z-index: 2;
	.banner-wrap{
		width: 100%;
		height: auto;
		
		//background-image: radial-gradient(30% -7%, #FFFFFF 2%, #C6F0E8 100%);
		display: block;


		//clip-path: url(#maskRect1);
	    //-webkit-clip-path: url(#maskRect1);

	    //clip-path: path('M0,0 L1440,0 L1440,734 C1194.63281,700.666667 952.84375,684 714.632812,684 C476.421875,684 238.210937,700.666667 0,734 L0,0 Z');
		//-webkit-clip-path: path('M0,0 L1440,0 L1440,734 C1194.63281,700.666667 952.84375,684 714.632812,684 C476.421875,684 238.210937,700.666667 0,734 L0,0 Z');
	    
	    .hero-img{
			width: 100%;
			text-align: center;
			padding: 110px 0px 0px 0px;
			
			background-image: url(../images/banner-wall.png);
			background-position: center center;
			background-size: auto 100%;

		    overflow: hidden;
			min-height: 720px;
			@media (min-width: 1365px) and (max-width: 1367px) {
				min-height: 680px;
				padding: 90px 0px 0px 0px;
			}

			/*
			background-image: url(../images/bg-oval.svg);
			background-size: 1652px auto;
			background-position: center center;
			*/
			@media(max-width: 1150px){
				padding-top: 70px;
				min-height: 550px;
				padding-bottom: 380px;
				background-size: cover;
				background-position: bottom center;
				background-image: url(../images/banner-wall-mobile.png);
			}
			@media(max-width: 991px){
				padding-top: 60px;
				//background-size: auto 100%;
			}
			@media(max-width: 991px){
				padding-bottom: 280px;
			}
			@media(max-width: 768px){
				height: 750px;
				// background-size: auto 640px;
			}
			@media(max-width: 600px){
				height: 700px;
				// background-size: auto 640px;
			}
			& > img{
				max-width: 100%;
				margin: auto;
			}

			.container{
				position: relative;
				@media(min-width: 1280px){
					max-width: 1366px;
				}
				@media(max-width: 1280px){
					max-width: 1120px;
				}
				@media(max-width: 1150px){
					max-width: 991px;
				}
				@media(min-width: 768px) and (max-width: 991px){
					max-width: 100%;
				}
			}

			.overlay{
				//display: flex;
				position: relative;
				.baby-img-wrap{
					max-width: 678px;
					position: relative;
					z-index: 1;
					img{
						max-width: 100%;
					}
					@media(max-width: 1280px){
						max-width: 500px;
					}
					@media(max-width: 1150px){
						max-width: 80%;
						margin: auto;
						margin-top: 30px;
					}
					@media(max-width: 991px){
						max-width: 100%;
						margin-top: 40px;
					}
				}
				.banner-txt{
					position: absolute;
					right: -30px;
    				top: 10px;
					width: 100%;
					max-width: 788px;
					z-index: 0;
					@media(max-width: 1280px){
						@include scale(0.8);
					}
					@media(max-width: 1150px){
						position: relative;
						right: auto;
						max-width: 100%;
					}
					@media(max-width: 991px){
						@include scale(1);
					}
					@media(max-width: 768px){
						max-width: 340px;
						margin: auto;
						br{
							display: none;
						}
					}
					h1{
						font-size: 65px;
						line-height: 74px;
						font-family: $BreeRegular;
						letter-spacing: -1.5;
						color: $default;
						margin-top: 18px;
						margin-bottom: 60px;
						.toddlees-suffer{
							display: inline-block;
						}
						@media(max-width: 1280px){
							font-size: 60px;
							line-height: 60px;
						}
						@media(max-width: 991px){
							font-size: 37px;
							line-height: 36px;
							font-family: $BreeRegular;
						}
						@media(max-width: 768px){
							font-size: 30px;
						}
						@media(max-width: 600px){
							font-size: 30px;
							line-height: 36px;
							font-family: $BreeRegular;
						}
						@media(max-width: 320px){
							font-size: 26px;
							line-height: 36px;
							font-family: $BreeRegular;
						}
						@media(max-width: 991px){
							margin-top: 0px;
							margin-bottom: 50px;
						}
						@media (min-width: 1365px) and (max-width: 1367px) {
							font-size: 50px;
						}
						b, strong{
							font-size: 85px;
							font-family: $BreeBold;
							display: block;
							letter-spacing: -1.7;
							line-height: 90px;
							@media(max-width: 1280px){
								font-size: 65px;
								line-height: 65px;
							}
							@media(max-width: 991px){
								font-size: 60px;
								line-height: 58px;
								//font-family: $BreeBold;
							}
							@media(max-width: 768px){
								font-size: 40px;
							}
							@media(max-width: 600px){
								font-size: 38px;
								line-height: 58px;
								//font-family: $BreeBold;
							}
							@media(max-width: 600px){
								font-size: 32px;
								line-height: 58px;
								//font-family: $BreeBold;
							}
							@media (min-width: 1365px) and (max-width: 1367px) {
								font-size: 65px;
							}

						}
					}
					h2{
						font-size: 45px;
						line-height: 42px;
						font-family: $BreeRegular;
						color: $default;
						margin: 20px 0px;
						@media(max-width: 1280px){
							font-size: 35px;
						}
						@media(max-width: 991px){
							font-size: 32px;
							line-height: 36px;
						}
						@media(max-width: 768px){
							font-size: 24px;
							line-height: 36px;
						}
						@media(max-width: 600px){
							font-size: 24px;
							line-height: 36px;
						}
						@media(max-width: 320px){
							font-size: 20px;
							line-height: 36px;
						}
						@media (min-width: 1365px) and (max-width: 1367px) {
							font-size: 35px;
						}
					}
					.btn{
						// margin: 0px;
						// font-size: 50px;
						// min-width: 80%;
						// font-family: $BreeBold;
						// color: $danger;
						// border-radius: 0px;
						// border-bottom: 2px dotted rgba($default, 0.8);
						// padding: 0px;
						// @media (min-width: 1365px) and (max-width: 1367px) {
						// 	font-size: 40px;
						// }

						@media(max-width: 991px){
							// font-size: 32px;
							font-size: 16px;
							line-height: 55px;
							max-width: 100%;
							padding: 0 30px;
							// width: 100%;
						}
						@media(max-width: 600px){
							font-size: 20px;
							padding: 0 30px;
						}
						.icon{
							font-size: 20px;
							line-height: 32px;
							@media(max-width: 991px){
								// font-size: 22px;
								font-size: 14px;
								line-height: 26px;
							}
							@media(max-width: 600px){
								font-size: 15px;
								line-height: 26px;
							}
						}
					}

				}

			}

		}

	}
}

section.hero-inner-wrap{
	min-height: 400px;
	.hero-inner-container{
		display: flex;
		padding: 60px 0px;
		@media(max-width: 1280px){
			padding: 30px 0px;
		}
		@media(max-width: 1150px){
			@include scale(0.9);
			transform-origin: bottom center;
			padding: 0px;
		}
		@media(max-width: 991px){
			@include scale(1);
			display: block;
		}
		.static-wrap{
			min-width: 600px;
			min-height: 356px;
			position: relative;
			z-index: 1;
			@media(max-width: 1280px){
				transform: scale(0.9);
			    transform-origin: left center;
			    margin-left: -60px;
			}
			@media(max-width: 1150px){
				// margin-left: 0px;
			}
			@media(max-width: 991px){
				transform: scale(1);
				min-width: auto;
				max-width: 607px;
				margin: 40px auto;
			}
			@media(max-width: 768px){
				//transform: scale(0.6);
			    min-height: 284px;
				transform-origin: center center;
				transform: translateY(-38px);
				margin: 0px auto;
			}
			.word-wrap{
				display: block;
				padding-top: 55px;
				@media(max-width: 768px){
					transform: scale(0.58);
					transform-origin: left bottom;
					padding-top: 25px;
				}
				.word-inner{
					display: flex;
					line-height: 30px;
					padding-left: 80px;
					.line-txt{
						display: block;
						color: $default;
						margin-right: 10px;
						span{
							display: block;
						}
						.firstline{
							font-size: 30px;
							padding-right: 20px;
						}
						.firstline, .secondline, .thirdline{
							font-family: $BreeRegular;
							text-align: right;
							line-height: 38px;
						}
						.secondline, .thirdline{
							font-size: 48px;
							line-height: 42px;
						}
					}
					.bebelac-count{
						font-size: 90px;
						color: $danger;
						font-family: $BreeRegular;
						padding-top: 68px;
					}
					@media(max-width: 320px){
						padding-left: 30px;
					}
				}
				h1{
					margin: 0px;
					font-size: 96px;
					font-family: $BreeRegular;
					color: $default;
					line-height: 100px;
					@media(max-width: 768px){
						font-size: 90px;
					}
					@media(max-width: 320px){
						font-size: 60px;
					}
				}
			}
			.img-wrap{
				top: 0px;
				right: 0px;
				position: absolute;
				@media(max-width: 768px){
					transform: scale(0.58);
					transform-origin: right center;
				}
			}
		}
		.info-right{
			height: 287px;
			min-width: 718px;
			margin-left: -170px;
			margin-top: 45px;
			@media (max-width: 1280px){
				transform: scale(0.9);
			    transform-origin: left center;
			    margin-left: -210px;
			}
			@media(max-width: 1150px){
			    // margin-left: -260px;
			}
			@media(max-width: 991px){
				transform: scale(1);
				margin: 0px 0px 30px 0px;
				padding: 15px;
				min-width: auto;
				padding-left: 15px;
				width: 100%;
			}
			@media(max-width: 768px){
				height: auto;
			}
			&.take-food{
				border-top: 2px dotted rgba($default, 0.5);
				border-bottom: 2px dotted rgba($default, 0.5);
				padding-left: 180px;
				@media (max-width: 1280px){
					//padding-left: 180px;
				}
				@media(max-width: 991px){
					padding-left: 15px;
					border-bottom: 0px;
				}
			}
			h3{
				font-size: 32px;
				line-height: 40px;
				font-family: $BreeRegular;
				color: $default;
				text-align: center;
				margin: 20px 0px;
				@media(max-width: 768px){
					margin-top: 0px;
					font-size: 24px;
				}
			}
			.steps-wrap{
				display: flex;
				@media(max-width: 768px){
					flex-wrap: wrap;
				}
				@media(max-width: 320px){
					display: block;
				}
				.steps{
					text-align: center;
				    flex: 0 0 25%;
				    @media(max-width: 768px){
				    	flex: 0 0 50%;
				    }
				    &:first-child{
				    	min-width: 150px;
				    }
				    .icon-wrap{
				    	margin: 0px 0px 12px 0px;
				    	display: block;
				    	.icon{
			    		    height: 60px;
    						width: 85px;
				    		display: block;
				    		line-height: 56px;
				    		margin: auto;
				    	}
				    }
				    .step-count{
				    	background-color: $danger;
				    	height: 40px;
				    	width: 40px;
				    	font-size: 21px;
				    	font-family: $Roboto;
				    	color: $white;
				    	line-height: 40px;
				    	text-align: center;
				    	@include border-radius(50%);
				    	margin: auto;
				    }
					p{
						font-size: 14px;
						line-height: 18px;
						font-family: $Roboto;
						color: $default;
						margin-top: 12px;
						letter-spacing: -0.4px;
					}
				}
			}
			&.result{
				text-align: center;
				@media(max-width: 768px){
					padding: 0px;
				}
				.result-wrap{
					margin-top: 30px;
					@media(max-width: 991px){
						margin-top: -10px;
						margin-bottom: 40px;
					}
					.result-wrap-inner{
						padding-left: 180px;
						display: inline-flex;
						text-align: center;
						margin-bottom: 20px;
						@media(max-width: 991px){
							padding-left: 0px;
						}
						@media(max-width: 768px){
							@include scale(0.9);
							margin-bottom: 15px;
						}
						.oval{
							background-image: linear-gradient(-180deg, #FF696F 19%, $danger 100%);
							border: 8px solid $white;
							height: 170px;
							width: 170px;
							text-align: center;
							padding: 18px;
							margin-left: 10px;
							@include border-radius(50%);
							h3, h5{
								color: $white;
							}
							h3{
								font-size: 80px;
								font-family: $BreeRegular;
								line-height: 80px;
								margin: 0px;
								padding: 0px;
								border: 0px;
							}
							h5{
								font-size: 40px;
								font-family: $BreeRegular;
								line-height: 40px;
								margin: 0px;
							}
						}
						h2{
							font-family: $BreeRegular;
							font-size: 55px;
							line-height: 50px;
							color: $danger;
							margin: 0px;
							padding-top: 40px;
						}
					}
					h3{
						border-top: 2px dotted rgba($default, 0.5);
						padding-left: 180px;
						font-size: 28px;
						line-height: 40px;
						margin: 0px;
						padding-top: 18px;
						@media(max-width: 991px){
							padding-left: 0px;
						}
						@media(max-width: 768px){
							padding-top: 15px;
							font-size: 24px;
						}
					}
				}
			}
		}
	}
}