// Footer styles go here
footer{
	color: $dark;
	font-size: 18px;
	font-family: $Roboto;
	font-weight: $Medium;
	min-height: 120px;
	@media(max-width: 1280px){
		font-size: 16px;
	}
	@media(max-width: 991px){
		text-align: center;
		font-size: 14px;
	}
	a{
		color: $dark;
		text-decoration: none;
		display: inline-block;
		&:hover{
			text-decoration: none;
		}
	}
	.footer-inner{
		display: flex;
	    justify-content: space-between;
	    padding: 46px 0px;
	    @media(max-width: 991px){
    	    display: block;
			padding: 30px 0px;
		}
	}
	.social-media, .nav-items{
		display: flex;
		@media(max-width: 991px){
			justify-content: center;
		}
	}
	.nav-items{
		margin: 0px;
		padding: 0px;
		list-style: none;
		@media(max-width: 991px){
			font-size: 12px;
			margin-top: 25px;
			margin-bottom: 30px;
		}
		@media(max-width: 600px){
			font-size: 11px;
		}
		@media(max-width: 320px){
			font-size: 10px;
		}
		li{
			&:after{
				content: "|";
				margin: 0px 10px;
				position: relative;
				top: -1px;
			}
			&:last-child{
				&:after{
					display: none;
				}
			}
		}
	}
	.social-media{
		.icon-wrap{
			margin-left: 15px;
		    margin-top: -12px;
		    margin-bottom: -12px;
		    @media(max-width: 1280px){
		    	margin-top: -6px;
		    }
			.icon{
				font-size: 50px;
				@media(max-width: 1280px){
					font-size: 40px;
				}
				@media(max-width: 991px){
					font-size: 30px;
				}
			}
		}
		.icon-facebook{
			color: #25508D
		}
	}
}