header{
	position: relative;
	z-index: 999;
	.navbar.navbar-expand-lg{
		max-height: 130px;
		@media(max-width: 991px){
			max-height: 110px;
			height: 110px;
		}
		.navbar-nav{
			width: 100%;
			justify-content: space-evenly;
			font-size: 16px;
			text-transform: uppercase;
			@media(max-width: 1280px){
				font-size: 15px;
			}
			li{
				a{
					min-width: 100px;
					text-align: center;
					background-color: rgba($primary_light, 0.5);
					color: $dark;
					padding: 11px 30px;
					margin: 0px 5px;
					max-height: 44px;
					display: block;
					text-decoration:none;
					@include border-radius(10px);
					@media(max-width: 1280px){
						padding: 10px 20px;
						min-width: 100px;
					}
					@media(max-width: 991px){
						padding: 15px 20px 30px;
						min-width: 100px;
						margin: 0;
						@include border-radius(0);
					}
					&:hover{
						background-color: rgba($primary_light, 0.8);
					}
				}
				&.active{
					a{
						background-color: rgba($primary_light, 1);
					}
				}
			}
		}
		.navbar-brand{
			margin: 0px;
			margin-bottom: -80px;
			min-width: 250px;
			& > img{
				width: 100%;
			}
			@media(max-width: 1280px){
				min-width: 200px;
			}
			@media(max-width: 991px){
				width: 180px;
				min-width: 180px;
				left: 50%;
				position: relative;
				margin-left: -90px;
				margin-top: -30px;
				z-index: 1;
			}
			@media (min-width: 1365px) and (max-width: 1367px) {
				min-width: 195px;
			}
		}
		&.header-inner{
			.navbar-brand{
				margin-bottom: 0px;
				min-width: 150px;
				@media(max-width: 1280px){
					min-width: 130px;
					width: 130px;
				}
				@media(max-width: 991px){
					min-width: 124px;
					width: 124px;
					margin-left: -62px;
					margin-top: 30px;
				}
			}
		}
	}

	.navbar-toggler{
		position: absolute;
		background-color: rgba($primary_light, 0.5);
		left: 15px;
		&:hover, &:focus{
			outline: 0;
		}
		.navbar-toggler-icon{
			background: url('../images/menu.svg') center center no-repeat;
		}
		@media(max-width: 991px){

		}
	}

	@media(max-width: 991px){
		.navbar-collapse{
			position: absolute;
		    left: 0px;
		    right: 0px;
		    top: 133px;
		    .navbar-nav{
		    	li{
		    		// margin-bottom: 1px;
		    		border-bottom: 1px solid #1082ca;
		    		a{
		    			background-color: rgba($primary_light, 1) !important;
		    			&:hover{
		    				background-color: $primary !important;
		    			}
		    		}
		    		&.active a{
		    			background-color: rgba($default, 1) !important;
		    			color: $primary;
		    		}
		    	}
		    }
		}
	}
}
	@media(max-width: 991px){
		.header-inner{
			padding: 67px 0;
			margin-top: -5px;
		}
	}
	@media(max-width: 768px){
		.header-inner{
			padding: 67px 0;
			margin-top: -23px;
		}
	}