section.why-choose .choose-wrap .diagram:before{margin-left: auto; margin-right: -31px;}
.navbar-nav{display: -webkit-box;}
section.hero-wrap .banner-wrap .hero-img {background-image: url(../images/banner-wall-ar.png);}
section.hero-wrap .banner-wrap .hero-img .overlay .banner-txt{right: auto; left: -30px}
section.graph-wrap .graph-inner-wrap .graph-tower .tower-wrap.tower-status .tower-base {text-align: right;}
footer .social-media, footer .nav-items {flex-direction: row-reverse;}
section.graph-wrap .graph-inner-wrap .graph-line-wrap .graph-line{display: flex;}
section.graph-wrap .graph-inner-wrap .graph-tower .tower-wrap.tower-status .tower-base {background-position: right center;}
section.graph-wrap .graph-inner-wrap .graph-tower .tower-wrap.tower-recomented .tower-base {background-position: left center;}
section.graph-wrap .graph-inner-wrap .iorn-data {border-top-left-radius: 20px; border-bottom-left-radius: 20px;}
section.hero-inner-wrap .hero-inner-container .info-right {margin-right: -170px; margin-left: auto;}
section.hero-inner-wrap .hero-inner-container .static-wrap .word-wrap h1 {display: flex;}
section.hero-inner-wrap .hero-inner-container .static-wrap .img-wrap {left: 0;}
section.hero-inner-wrap .hero-inner-container .info-right.take-food{padding-right: 180px; padding-left: 0;}
section.hero-inner-wrap .hero-inner-container .info-right.result .result-wrap .result-wrap-inner {padding-right: 180px;padding-right:auto;}
section.hero-inner-wrap .hero-inner-container .info-right.result .result-wrap h3 {padding-right: 180px; padding-left: auto;}
section.hero-inner-wrap .hero-inner-container .static-wrap .word-wrap .word-inner .line-txt {display: block;color: #1082CA;margin-left: 10px;}
section.hero-inner-wrap .hero-inner-container .static-wrap .word-wrap .word-inner .line-txt .firstline{text-align: left; padding-left: 30px; padding-right: auto;}
section.hero-inner-wrap .hero-inner-container .static-wrap .word-wrap .word-inner .line-txt .thirdline{text-align: left;}
.panel .panel-header h2, p{text-align: right;}
.panel .panel-footer .link.start {margin-right: 0;margin-left: auto;}
.panel .panel-footer .link.end{margin-left: 0; margin-right: auto;}
.panel .panel-footer .link.next:after {background-image: url(../images/arrow-left.svg);margin-left: -10px;margin-right: auto;}
.panel .panel-footer .link.prev:before {background-image: url(../images/arrow-right.svg);margin-left: 10px;margin-right: auto;}

section.why-choose .choose-wrap .info .info-flow{background-image:url("../images/flow-arrow-ar.svg"); background-position: 325px 65px;}
section.result-info .result-wrap .info .info-flow {background: url(../images/flow-arrow-ar.svg) 250px 75px no-repeat;margin-left: 70px;min-width: 665px;}
section.graph-wrap .graph-inner-wrap .graph-tower .tower-wrap.tower-status .tower-base {background-image: url(../images/iorncount-desk-base-ar.svg);}
section.graph-wrap .graph-inner-wrap .graph-tower .tower-wrap.tower-recomented .tower-base {background-image: url(../images/recomment-desk-base-ar.svg);text-align: left;}
section.result-info .result-wrap .message-wrap p {text-align: right;}
section.result-info .result-wrap .info .title h4 {text-align: right;}
section.result-info .result-wrap .message-wrap .title{max-width: 100%;}
section.result-info .result-wrap .message-wrap .title h3 {text-align: right; max-width: 75%;}

@media (max-width: 1150px){
	section.hero-wrap .banner-wrap .hero-img {
		padding-top: 70px;
		min-height: 550px;
		padding-bottom: 380px;
		background-size: cover;
		background-position: bottom center;
		background-image: url(../images/banner-wall-mobile.png);
	}
}
@media (max-width: 1280px){
	section.hero-inner-wrap .hero-inner-container .static-wrap {
		margin-right: -120px;
		margin-left: auto;
	}
	.hero-inner-container .static-wrap .word-wrap .word-inner {
		line-height: 30px;
		padding-right: 80px;
		padding-left: auto;
	}
	section.hero-inner-wrap .hero-inner-container .info-right {
		margin-right: -210px;
		margin-left: auto;
	}
}
@media (max-width: 991px){
	section.why-choose .choose-wrap .info .info-flow {
		background: url(../images/flow-arrow-mobile.svg) 50% 238px no-repeat;
		display: block;
		margin-top: 0px;
		padding: 20px;
	}
	header .navbar.navbar-expand-lg .navbar-brand {
		width: 180px;
		min-width: 180px;
		right: 50%;
		position: relative;
		margin-right: -90px;
		margin-top: -30px;
		z-index: 1;
	}
	header .navbar-toggler {
		position: absolute;
		background-color: rgba(254, 235, 141, 0.5);
		right: 15px;
		left: auto;
	}
	header .navbar.navbar-expand-lg .navbar-nav {
		padding: 0;
	}	
	section.hero-wrap .banner-wrap .hero-img .overlay .banner-txt {
		right: auto;
		left: 0;
	}	
	.chart-wrap:last-child .chart-animation {
		-webkit-transform-origin: right center;
		-ms-transform-origin: right center;
		transform-origin: right center;
	}
	.chart-wrap:first-child .chart-animation {
		-webkit-transform-origin: left center;
		-ms-transform-origin: left center;
		transform-origin: left center;
	}	
	.chart-wrap:last-child h3 {
		text-align: right;
	}
	.chart-wrap:first-child h3 {
		text-align: left;
	}
	section.why-choose .choose-wrap .diagram:before{
		margin-left: auto; margin-right: -18px !important;
	}
	section.why-choose .choose-wrap .diagram:before {
		right: 50%;
		height: 40px;
	}
	section.hero-inner-wrap .hero-inner-container .info-right {
		margin-right: auto;
		margin-left: auto;
	}
	section.hero-inner-wrap .hero-inner-container .info-right.take-food {
		padding-left: 0;
		padding-right: 15px;
	}	
	header .navbar.navbar-expand-lg.header-inner .navbar-brand {
		margin-right: -62px;
	}	
	section.hero-inner-wrap .hero-inner-container .info-right.result .result-wrap .result-wrap-inner {
		padding-right: 0px;
		padding-left: auto;
	}
	section.hero-inner-wrap .hero-inner-container .info-right.result .result-wrap h3 {
		padding-right: 0;
		padding-left: auto;
	}
	section.hero-inner-wrap .hero-inner-container .static-wrap {
		margin-right: 0px;
		margin-left: auto;
	}					
}
	@media (max-width: 768px){
		section.result-info .result-wrap .info .info-flow {
			background-size: 60px auto;
			background-position: 94px 40px;
			padding: 0px;
			margin: 10px 0px 30px 0px;
			min-width: auto;
			max-width: 320px;
		}
		section.hero-inner-wrap .hero-inner-container .static-wrap .img-wrap {
			-webkit-transform: scale(0.58);
			-ms-transform: scale(0.58);
			transform: scale(0.58);
			-webkit-transform-origin: right center;
			-ms-transform-origin: right center;
			transform-origin: left center;
		}
		section.hero-inner-wrap .hero-inner-container .static-wrap .word-wrap {
			-webkit-transform: scale(0.58);
			-ms-transform: scale(0.58);
			transform: scale(0.58);
			-webkit-transform-origin: left bottom;
			-ms-transform-origin: left bottom;
			transform-origin: right bottom;
			padding-top: 25px;
		}
		.hero-inner-container .static-wrap .word-wrap h1 {
			text-align: right;
		}
		.hero-inner-container .static-wrap .word-wrap .word-inner {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			line-height: 30px;
			padding-right: 80px;
			padding-left: 0;
		}
		.panel .panel-footer .link.start {
			margin-right: auto;
			margin-left: auto;
		}
		section.hero-inner-wrap .hero-inner-container .static-wrap {
			margin: 0 auto;
		}	
		/*section.result-info .result-wrap .info .info-flow {
			min-width: 580px;
			max-width: 320px;
			background-position: 225px 40px;
		}*/
		section.hero-inner-wrap .hero-inner-container .static-wrap .word-wrap h1 {font-size: 90px;}
}

