/*@import url("https://fonts.googleapis.com/earlyaccess/droidarabickufi.css");*/
@import url('https://fonts.googleapis.com/css?family=Cairo');
/*
@import url(//fonts.googleapis.com/earlyaccess/notokufiarabic.css);
@import url('https://fonts.googleapis.com/css?family=Changa');
@import url('https://fonts.googleapis.com/css?family=El+Messiri');

@font-face {
    font-family: 'GE SS Two';
    src: url('../webfont/GESSTwoMedium-Medium.eot');
    src: url('../webfont/GESSTwoMedium-Medium.eot?#iefix') format('embedded-opentype'),
        url('../webfont/GESSTwoMedium-Medium.woff2') format('woff2'),
        url('../webfont/GESSTwoMedium-Medium.woff') format('woff'),
        url('../webfont/GESSTwoMedium-Medium.ttf') format('truetype'),
        url('../webfont/GESSTwoMedium-Medium.svg#GESSTwoMedium-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GE SS Two';
    src: url('../webfont/GESSTwoBold-Bold.eot');
    src: url('../webfont/GESSTwoBold-Bold.eot?#iefix') format('embedded-opentype'),
        url('../webfont/GESSTwoBold-Bold.woff2') format('woff2'),
        url('../webfont/GESSTwoBold-Bold.woff') format('woff'),
        url('../webfont/GESSTwoBold-Bold.ttf') format('truetype'),
        url('../webfont/GESSTwoBold-Bold.svg#GESSTwoBold-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GE SS Two';
    src: url('../webfont/GESSTwoLight-Light.eot');
    src: url('../webfont/GESSTwoLight-Light.eot?#iefix') format('embedded-opentype'),
        url('../webfont/GESSTwoLight-Light.woff2') format('woff2'),
        url('../webfont/GESSTwoLight-Light.woff') format('woff'),
        url('../webfont/GESSTwoLight-Light.ttf') format('truetype'),
        url('../webfont/GESSTwoLight-Light.svg#GESSTwoLight-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
*/


html, body, h1, h2, h3, h4, h5, h6, p ,ul, ol, a, table, th, td, label, span, strong, b{
    /*font-family:'Droid Arabic Kufi', sans-serif;*/
    /*font-family: 'GE SS Two';*/
    /*font-family: 'Tahoma', 'GE SS Two';*/
    font-family: 'Cairo', sans-serif !important;

	/*font-family: 'Noto Kufi Arabic', sans-serif;*/
    /*font-family: 'Noto Kufi Arabic', sans-serif;*/
    /*font-family: 'Changa', sans-serif;*/
    /*font-family: 'El Messiri', sans-serif;*/
    font-weight: 500;
}
/*section.hero-inner-wrap .hero-inner-container .static-wrap .img-wrap {left: 0;right: auto;-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);}*/
section.hero-inner-wrap .hero-inner-container .static-wrap .img-wrap img{left: 0;right: auto;-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);}
section.why-choose .choose-wrap .diagram:before{margin-left: auto; margin-right: -31px;}
.btn.btn-md {display: inline-flex;}
section.hero-wrap .banner-wrap .hero-img .overlay .banner-txt .btn .icon{-webkit-transform: rotate(180deg);-ms-transform-transform: rotate(180deg);transform: rotate(180deg);}
.navbar-nav {padding-left: 0;padding-right: 0;}
section.hero-wrap .banner-wrap .hero-img {-webkit-transform: rotateY(180deg);-ms-transform-transform: rotateY(180deg);transform: rotateY(180deg);}
section.hero-wrap .banner-wrap .hero-img .overlay .banner-txt{right: 0; left: -30px;-webkit-transform: rotateY(180deg);-ms-transform-transform: rotateY(180deg);transform: rotateY(180deg);}
section.graph-wrap .graph-inner-wrap .graph-tower .tower-wrap.tower-status .tower-base {text-align: right;}
footer .social-media, footer .nav-items {flex-direction: row-reverse;}
section.graph-wrap .graph-inner-wrap .graph-line-wrap .graph-line{display: flex;}
section.graph-wrap .graph-inner-wrap .graph-tower .tower-wrap.tower-status .tower-base {background-position: right center;-webkit-transform: rotateY(180deg);-ms-transform-transform: rotateY(180deg);transform: rotateY(180deg);right: -29px;}
section.graph-wrap .graph-inner-wrap .graph-tower .tower-wrap.tower-recomented .tower-base {background-position: left center;-webkit-transform: rotateY(180deg);-ms-transform-transform: rotateY(180deg);transform: rotateY(180deg);left: -29px;text-align: left;}
section.graph-wrap .graph-inner-wrap .iorn-data {border-top-left-radius: 20px; border-bottom-left-radius: 20px;}
section.hero-inner-wrap .hero-inner-container .static-wrap .word-wrap h1 {display: flex;}
section.hero-inner-wrap .hero-inner-container .static-wrap .img-wrap {left: 0;}
section.hero-inner-wrap .hero-inner-container .info-right.take-food {padding-right: 180px; padding-left: 0 ;}
section.hero-inner-wrap .hero-inner-container .info-right {margin-right: -170px; margin-left: 0;}
section.hero-inner-wrap .hero-inner-container .info-right .steps-wrap .steps p {text-align: center;}
section.hero-inner-wrap .hero-inner-container .info-right.result .result-wrap .result-wrap-inner {padding-right: 180px;padding-left: 0;}
section.hero-inner-wrap .hero-inner-container .info-right.result .result-wrap h3 {padding-right: 180px; padding-left:0;}
section.hero-inner-wrap .hero-inner-container .static-wrap .word-wrap .word-inner .line-txt {display: block;color: #1082CA;margin-left: 10px;}
section.hero-inner-wrap .hero-inner-container .static-wrap .word-wrap .word-inner {padding-right: 80px;padding-left: 0;}
section.hero-inner-wrap .hero-inner-container .static-wrap .word-wrap .word-inner .line-txt .firstline{text-align: left; padding-left: 30px; padding-right: 0;}
section.hero-inner-wrap .hero-inner-container .static-wrap .word-wrap .word-inner .line-txt .thirdline{text-align: left;}
section.hero-wrap .banner-wrap .hero-img .overlay .banner-txt h2{font-size: 52px;}
.panel .panel-header h2, p{text-align: right;}
.panel .panel-footer .link.start {margin-right: 0;margin-left: auto;}
.panel .panel-footer .link.end{margin-left: 0; margin-right: auto;}
.panel .panel-footer .link.next:after {background-image: url(../images/arrow-left.svg);margin-left: -10px;margin-right: auto;}
.panel .panel-footer .link.prev:before {background-image: url(../images/arrow-right.svg);margin-left: 10px;margin-right: auto;}
section.result-info .result-wrap .info .info-flow {background: url(../images/flow-arrow-ar.svg) 197px 75px no-repeat;background-size: 75px auto;min-width: 600px; margin-right: 40px; margin-left: 0;}
section.why-choose .choose-wrap .info .info-flow{background: url(../images/flow-arrow-ar.svg) 325px 65px no-repeat; margin-left: 0; margin-right: 0;}
/*section.result-info .result-wrap .info .info-flow .img-wrap {-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);}*/
/*section.graph-wrap .graph-inner-wrap .graph-tower .tower-wrap.tower-status .tower-base {background-image: url(../images/iorncount-desk-base-ar.svg);}*/
/*section.graph-wrap .graph-inner-wrap .graph-tower .tower-wrap.tower-recomented .tower-base {background-image: url(../images/recomment-desk-base-ar.svg);text-align: left;}*/
section.result-info .result-wrap .message-wrap p {text-align: right;}
section.result-info .result-wrap .info .title h4 {text-align: right;}
section.result-info .result-wrap .message-wrap .title{max-width: 100%;}
section.result-info .result-wrap .message-wrap .title h3 {text-align: right;}
section.child-development .development-inner {-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);}
section.child-development .development-inner h2{-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);}
section.child-development .development-inner h3{-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);}
section.hero-inner-wrap .hero-inner-container .info-right {margin-right: -170px ;margin-left: 0 ;}
section.result-info .result-iron-intake .result-wrap-intake .title p{text-align: right;}
.result-title h4 {text-align: right;}
.result-title ol {padding-right:16px; padding-left:0;text-align: right;}
section.hero-inner-wrap .hero-inner-container .static-wrap .word-wrap h1{font-size: 75px;}
section.child-development .titles-wrap{margin-top: 270px;}
.footer-menu ul{display: flex;flex-direction: inherit;}
.arabic-tower-base-1 h3{text-align: right !important;-webkit-transform: rotateY(180deg) !important;-ms-transform: rotateY(180deg) !important;transform: rotateY(180deg) !important;}	
.arabic-tower-base-2 h3{text-align: center;-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);}
.arabic-sticky-prev{display: flex !important;justify-content: center;}	
.arabic-arrow-prev{-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);}
/*inhibitors*/
section.inhibitors .inh-wrap .inhibitors-img {-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);z-index: 1;}
section.inhibitors .inh-wrap .inhibitors-background{-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);}
section.inhibitors .inh-wrap h2{-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);}
section.inhibitors .inh-wrap p{-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);}
section.inhibitors .inh-wrap .btn.btn-md {-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);}
section.inh-articles .article-area .article-section .art-mg-3{-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);}
section.inh-articles .article-area .article-section .art-mg-1{-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);}
section.inh-articles .article-area .article-section h4{-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);text-align: right;}
section.inh-articles .article-area .article-section p{font-size:14px;-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);text-align: right;}
section.inh-articles .article-area .article-section .art-mg-2{margin-right: 80px;margin-left: auto;}
.inch-link{display: flex;justify-content: flex-end;}
section.inh-articles .article-area a {-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);text-align: right;}
section.inh-articles .article-area a .icon{-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);}
[class*=" icon-"] {-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);}
.recipes-wrapper .container-fluid h4{text-align: right;}
section.inh-articles .article-area .article-section ul{ direction: ltr; padding-left: 20px; }
section.inh-articles .article-area .article-section h4{font-size: 21px;}
/*inhibitors*/
section.child-development .title{margin-top: 70px;}


/*-----------------------------------------media query-----------------------------------------*/
@media (max-width: 1480px){
	section.inh-articles .article-area {
	    display: flex;
	    flex-wrap: wrap;
	    padding-bottom: 130px;
	    margin-left: auto; 
	    position: relative;
	    left: 43px;
	}
}
@media (max-width: 1367px) and (min-width: 1365px){
	section.hero-wrap .banner-wrap .hero-img .overlay .banner-txt h1 {
		font-size: 45px;
		}
	section.hero-wrap  .hero-img .overlay .banner-txt h1 strong {
		font-size: 60px;
	}
}
@media (max-width: 1150px){
	section.hero-wrap .banner-wrap .hero-img {
		padding-top: 70px;
		min-height: 550px;
		padding-bottom: 380px;
		background-size: cover;
		background-position: bottom center;
		background-image: url(../images/banner-wall-mobile.png);
	}
}
@media (max-width: 1200px) and (min-width: 768px){
	section.inh-articles .article-area {
	    margin-left: -126px;
	    position: relative;
	    left: 104px;
	}
}
@media (max-width: 1280px){
	section.hero-inner-wrap .hero-inner-container .static-wrap {
		margin-right: -120px;
		margin-left: auto;
	}
	.hero-inner-container .static-wrap .word-wrap .word-inner {
		line-height: 30px;
		padding-right: 80px;
		padding-left: 0;
	}
	section.hero-inner-wrap .hero-inner-container .info-right {
		margin-right: -210px;
		margin-left: auto;
	}
	header .navbar.navbar-expand-lg .navbar-nav li a {
	    padding: 10px 15px;
	    min-width: 100px;
	}
	section.why-choose .choose-wrap .info .info-flow {
		background: url(../images/flow-arrow-ar.svg) 260px 65px no-repeat;
	}
	section.result-info .result-wrap .info .info-flow {
    background: url(../images/flow-arrow-ar.svg) 172px 75px no-repeat;
	}
}
@media (max-width: 991px){
	section.why-choose .choose-wrap .info .info-flow {
		background: url(../images/flow-arrow-mobile.svg) 50% 238px no-repeat;
		display: block;
		margin-top: 0px;
		padding: 20px;
	}
	header .navbar.navbar-expand-lg .navbar-brand {
		width: 180px;
		min-width: 180px;
		right: 50%;
		position: relative;
		margin-right: -90px;
		margin-top: -30px;
		z-index: 1;
	}
	header .navbar-toggler {
		position: absolute;
		background-color: rgba(254, 235, 141, 0.5);
		right: 15px;
		left: auto;
	}
	header .navbar.navbar-expand-lg .navbar-nav {
		padding: 0;
	}	
	section.hero-wrap .banner-wrap .hero-img .overlay .banner-txt {
		right: auto;
		left: 0;
	}	
	.chart-wrap:last-child .chart-animation {
		-webkit-transform-origin: right center;
		-ms-transform-origin: right center;
		transform-origin: right center;
	}
	.chart-wrap:first-child .chart-animation {
		-webkit-transform-origin: left center;
		-ms-transform-origin: left center;
		transform-origin: left center;
	}	
	.chart-wrap:last-child h3 {
		text-align: right;
	}
	.chart-wrap:first-child h3 {
		text-align: left;
	}
	section.why-choose .choose-wrap .diagram:before{
		margin-left: auto; margin-right: -18px ;
	}
	section.why-choose .choose-wrap .diagram:before {
		right: 50%;
		height: 40px;
	}
	section.hero-inner-wrap .hero-inner-container .info-right {
		margin-right: auto;
		margin-left: auto;
	}
	section.hero-inner-wrap .hero-inner-container .info-right.take-food {
		padding-left: 0;
		padding-right: 0;
	}	
	header .navbar.navbar-expand-lg.header-inner .navbar-brand {
		margin-right: -62px;
	}	
	section.hero-inner-wrap .hero-inner-container .info-right.result .result-wrap .result-wrap-inner {
		padding-right: 0px;
		padding-left: auto;
	}
	section.hero-inner-wrap .hero-inner-container .info-right.result .result-wrap h3 {
		padding-right: 0;
		padding-left: 0;
	}
	section.hero-inner-wrap .hero-inner-container .static-wrap {
		margin-right: 0px;
		margin-left: auto;
	}
	section.graph-wrap .graph-inner-wrap .iorn-data .nutrition-image {
		right: 0px;
		left: auto;
	}	
	section.graph-wrap .graph-inner-wrap .iorn-data .progress-head {
    	left: -30px;
    	right: auto;
	}
	section.graph-wrap .graph-inner-wrap .graph-line-wrap {
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	    flex-direction: row-reverse;
	    left: 0px;
	    width: 100%;
	    max-width: -webkit-calc(100% - 129px);
	    max-width: calc(100% - 129px);
	    right: auto;
	    margin: 0px;
	}
	section.graph-wrap .graph-inner-wrap .graph-tower .tower-wrap .tower-progress {
		height: 64px;
		right: 128px;
		padding: 0px;
		border-bottom-right-radius: 20px;
		-ms-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	section.graph-wrap .graph-inner-wrap .iorn-data .iron-progress {
	    right: 114px;
	    left: auto;
	}
	section.graph-wrap .graph-inner-wrap .graph-line-wrap .graph-line:last-child {
    	border-left: none;
	}
	section.graph-wrap .graph-inner-wrap .graph-line-wrap .graph-line:first-child {
    	border-right: 2px dotted #fff;
	}
	section.graph-wrap .graph-inner-wrap .graph-line-wrap .graph-line .txt em {
    	top: 0;
    	left: 20px;
	}	
	section.inh-articles .article-area {
		margin-left: auto;
	    margin-right: -126px;
	    position: relative;
	    right: 25px;
	    left: auto;
	}	
	section.graph-wrap .graph-inner-wrap .graph-tower .tower-wrap .tower-progress .txt{
		-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);
	}
	.arabic-tower-base h3{
		text-align: right;
		-webkit-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}	
	section.graph-wrap .graph-inner-wrap .graph-tower .tower-wrap .tower-base h3{
		margin-right: auto;
	}	
}
@media (max-width: 768px){
		section.result-info .result-wrap .info .info-flow {
			background-size: 60px auto;
			background-position: 94px 40px;
			padding: 0px;
			margin: 10px 0px 30px 0px;
			min-width: auto;
			max-width: 320px;
			margin: auto;
		}
		section.hero-inner-wrap .hero-inner-container .static-wrap .img-wrap {
			-webkit-transform: scale(0.58);
			-ms-transform: scale(0.58);
			transform: scale(0.58);
			-webkit-transform-origin: right center;
			-ms-transform-origin: right center;
			transform-origin: left center;
		}
		section.hero-inner-wrap .hero-inner-container .static-wrap .word-wrap {
			-webkit-transform: scale(0.58);
			-ms-transform: scale(0.58);
			transform: scale(0.58);
			-webkit-transform-origin: left bottom;
			-ms-transform-origin: left bottom;
			transform-origin: right bottom;
			padding-top: 25px;
		}
		.hero-inner-container .static-wrap .word-wrap h1 {
			text-align: right;
		}
		.hero-inner-container .static-wrap .word-wrap .word-inner {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			line-height: 30px;
			padding-right: 80px;
			padding-left: 0;
		}
		.panel .panel-footer .link.start {
			margin-right: auto;
			margin-left: auto;
		}
		section.hero-inner-wrap .hero-inner-container .static-wrap {
			margin: 0 auto;
		}	
		/*section.result-info .result-wrap .info .info-flow {
			min-width: 580px;
			max-width: 320px;
			background-position: 225px 40px;
		}*/
		section.hero-inner-wrap .hero-inner-container .static-wrap .word-wrap h1 {
			font-size: 70px;
		}
		section.result-info .result-wrap .info .info-flow {
		    background-position: 130px 40px !important;
		}
		section.graph-wrap .graph-inner-wrap .graph-tower .tower-wrap.tower-status .tower-base {
			background-position: right center;
			-webkit-transform: rotateY(180deg);
			-ms-transform-transform: rotateY(180deg);
			transform: rotateY(180deg);right: -20px;
		}
		section.graph-wrap .graph-inner-wrap .graph-tower .tower-wrap.tower-recomented .tower-base {
			background-position: left center;
			-webkit-transform: rotateY(180deg);
			-ms-transform-transform: rotateY(180deg);
			transform: rotateY(180deg);right: -20px;
		}
		section.inh-articles .article-area .article-section h4{
			text-align: center;
		}
		section.inh-articles .article-area .article-section p{
			text-align: center;
		}
		.inch-link {
    		justify-content: center;
		}
		section.inh-articles .article-area .article-section .art-mg-2 {
    		margin-left: auto;
    		margin-right: auto;
    		margin-top: -84px;
		}
		section.inh-articles .article-area {
		margin-left: auto;
	    margin-right: auto;
	    position: relative;
	    right: auto;
	    left: auto;
	}
	section.inh-articles .article-area .article-section .art-mg-1 .inch-wrap p{
		font-size: 12px;
		}
	section.inh-articles .article-area .article-section ul{
		padding-left: 40px; 
		text-align: left;
	}
	section.hero-wrap .banner-wrap .hero-img .overlay .banner-txt h1{
		font-size: 24px;
	}
	section.hero-wrap .banner-wrap .hero-img .overlay .banner-txt h1 strong{
		display: inline-block;
	}
	section.hero-wrap .banner-wrap .hero-img .overlay .banner-txt h2{
		font-size: 30px
	}
	.panel .panel-footer .link.next:after {
		background-image: url(../images/arrow-right.svg);
		margin-left: -10px;
		margin-right: auto;
	}
	.btn-switch-mobile{
		text-align: right;
	}
	.panel .panel-footer .link.end{
		margin-left: 0; 
		margin-right: 0;
	}
	section.child-development .titles-wrap .title {
    	margin: 35px 0 0;
	}
}
@media (max-width: 600px){
	.chart-wrap {
	    margin-left: 0;
	    -webkit-transform: scale(0.8);
	    -ms-transform: scale(0.8);
	    transform: scale(0.8);
	}
	.panel .panel-inner {
		margin-right: -10px;
	}
	section.result-info .result-wrap .info .info-flow {
		    background-position: 102px 40px !important;
	}

	section.inh-articles .article-area {
		margin-left: auto;
	    margin-right: auto;
	    position: relative;
	    right: auto;
	    left: auto;
	}
	section.inh-articles .article-area .article-section .art-mg-2{
		margin-right: auto;
		margin-left: auto;
		margin-top: -65px;
	}
	section.inh-articles .article-area .article-section .art-mg-1 {
		padding-bottom: 25px;
	}
	section.inh-articles .article-area .article-section .art-mg-3 .inch-wrap p{
		font-size: 12px;
	}
	section.hero-wrap .banner-wrap .hero-img .overlay .banner-txt h1{
		font-size: 24px;
	}
	section.hero-wrap .banner-wrap .hero-img .overlay .banner-txt h1 strong{
		display: inline-block;
	}
	section.hero-wrap .banner-wrap .hero-img .overlay .banner-txt h2{
		font-size: 30px
	}
	section.hero-wrap .banner-wrap .hero-img .overlay .banner-txt .btn .icon{
		position: relative;
		top: -13px;
	}
	.chart-wrap {
    	margin-right: -10px;
    	margin-left: auto;
	}
}
@media (max-width: 320px){
	.chart-wrap {
	    margin-right: -18px;
	    margin-left: 0;
	    -webkit-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	    transform: scale(0.9);
	}
}